<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <section class="form p-5 rounded d-flex flex-column gap-3">

        <div>
          <h3>{{ "otp.title" | translate }}</h3>
          <p>{{ "otp.description" | translate }}</p>
        </div>

        <form #otpForm="ngForm" (ngSubmit)="onVerify(otpForm)">
          <div class="d-flex flex-column gap-3">

            <app-input
              name="otp"
              [(ngModel)]="otp"
              required
              [label]="'otp.label' | translate"
              placeholder="------"
                [errorMessages]="{
                required: 'otp.required' | translate,
              }"
            ></app-input>

            <div *ngIf="errorMessage" class="alert alert-danger text-center small py-1">
              {{ errorMessage | translate }}
            </div>

            <app-site-button
              [title]="'otp.verify' | translate"
              type="main"
              htmlType="submit"
            ></app-site-button>

          </div>
        </form>

      </section>
    </div>
  </div>
</div>
