<!-- src\app\shared\Admin Panel\side-nav\side-nav.html -->
<div class="sidebar p-3 d-flex flex-column gap-3 h-100" #sideNav>
  <!-- Logo Section -->
  <div
    class="logo d-flex align-items-center justify-content-center logoBorder bg-white rounded-3 p-2"
  >
    <img src="assets/images/sideNav/logo.png" alt="Logo Image" class="w-100" />
  </div>

  <!-- @if (!isCollapse()) {
  <app-search-field />
  } @else {
  <div class="p-1 collapseSearch text-center" (click)="showSearchPopup($event)" #searchIcon>
    <i class="pi pi-search"></i>
  </div>
  <div class="search-popup" [ngClass]="{ 'collapsed-subnav': isCollapse() }" (mouseleave)="hideSearchPopup()"
    #searchPopup>
    <input type="text" [placeholder]="'search...'| translate | titlecase" class="p-2 search" />
  </div>
  } -->

  <!-- Navigation Options -->
  <div class="flex-grow-1 d-flex flex-column navOptions">
    <!-- Section One: Main Menu -->
    <div class="text-site fs-regular-xs small fw-bold">
      <!-- @if (!isCollapse()) {
      <span class="pe-1">{{'menu' | translate | titlecase}}</span>
      } -->
      @if(lang() == 'ar' ){
      <span>الرئيسية</span>
      } @if(lang() == 'en'){
      <span>{{'menu' | titlecase}}</span>
      }
    </div>
    <div class="sidenav-section-one pb-3">
      <ul>
        @for (navItem of sectionOneNavItems; track navItem; let index = $index)
        { @if(navItem.name == 'settings'){
        <div class="text-site fs-regular-xs fw-bold pb-1 pt-3">
          <span
            >{{lang() == 'ar' ? navItem.nameAr : navItem.name |
            titlecase}}</span
          >
        </div>
        }
        <li>
          <app-side-nav-item
            [NavitemComponentData]="{
                isCollapsed: false,
                navItemName: lang()== 'ar' ? navItem.nameAr:navItem.name,
                classes: 'py-2',
                subItems: navItem.subItems,
                route:navItem.route
              }"
            (mouseenter)="showHoverSubMenu(index, $event)"
          >
            <!-- <img alt="dropdown icon" [src]="'assets/images/sideNav/'+navItem.icon"> -->
            <i [ngClass]="navItem.icon"></i>
            <!-- <i [ngClass]="navItem.icon"></i> -->
          </app-side-nav-item>
        </li>
        }
        <!-- <li (click)="logout()" class="cursor-pointer">
          <app-side-nav-item
            [NavitemComponentData]="{

      isCollapsed: false,

      navItemName: lang() == 'ar' ? 'تسجيل الخروج' : 'Logout',

      classes: 'py-2',

      subItems: [],

      route: 'logout'
    }"
          >
            <i class="bi bi-box-arrow-right"></i>
          </app-side-nav-item>
        </li> -->
      </ul>
    </div>
  </div>
</div>
