/* src\components\ClientSide\performance-levels\performance-levels.component.scss */
@use 'variables' as *;

.exam-container {
  min-width: 75%;
  margin: 0 auto;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.exam-header {
  background-color: $primaryColor;
  color: $lightBgTextColor;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.question-area {
  background-color: $inputBg;
  padding: 24px 32px;
}
