/* src\app\components\AdminPanel\certification-question\certification-question.component.scss */
@use 'variables' as *;

h5 {
  color: $primaryColor;
  font-weight: bold;
  font-size: $fs-l;
}

.doneQuestion{
  color: $primaryColor;
  text-decoration: underline;
}


