<div class="Homebanner" [class.rtl]="isRTL()">
  <div class="content d-flex flex-column " [class.flex-grow-1]="isGrow()">
    <ng-content select="[content]"></ng-content>
  </div>

  @if (media()) {
    <div class="intro-video flex-grow-1 ">
      <div
        class="image-wrapper shadow"
        [style.--rotate-y]="isRTL() ? '8deg' : '-8deg'"
        [style.--rotate-y-hover]="isRTL() ? '5deg' : '-5deg'"
      >
        <ng-content select="[media]"></ng-content>
      </div>
    </div>
  }


</div>
