<div class="certification pagePadding">
  <!-- @if(!chooseExam){ -->
  <!-- Banner - shown only if not purchased -->
  <ng-container *ngIf="hydrated() && (!isEnrolled() || !isLoggedIn())">
    <!-- <ng-container *ngIf="!isEnrolled() || !isLoggedIn()"> -->
    <app-page-banner [isRTL]="isRTL()" [media]="true">
      <!-- Content projection -->
      <div content class="d-flex flex-column gap-3 pe-xl-5">
        <div class="d-flex flex-column gap-3">
          <h3 class="CertificationHeader">
            <span class="darkText">
              {{ "examSimulator.masterPmp" | translate }}
            </span>
            <span class="mainTextColor">
              {{ "examSimulator.realisticSimulation" | translate }}
            </span>
          </h3>

          <p>
            {{ "examSimulator.description" | translate }}
          </p>

          <div class="d-flex justify-content-between rating">
            <div class="d-flex align-items-center enrollTag gap-1">
              <img [src]="enrollImage" alt="Enroll image" />
              <span>2,500+ {{ "common.enrolled" | translate }}</span>
            </div>

            <div class="d-flex align-items-center gap-1">
              <app-star-rating [value]="4.9"></app-star-rating>
              <span class="certifictionRate">(4.9)</span>
            </div>
          </div>

          <div class="certificationPrice">
            <span class="darkText">{{'examSimulator.price' | translate}}</span>
          </div>

          <div class="d-flex align-content-center gap-3">
            <app-site-button
              title="examSimulator.buyNow"
              [icon]="'bi bi-arrow'"
              type="main"
              (click)="buyNow()"
            ></app-site-button>

            <app-site-button
              title="examSimulator.addToCart"
              [icon]="'bi bi-arrow'"
              type="secondary"
              (click)="addToCart()"
            ></app-site-button>
          </div>
        </div>
      </div>

      <video
        media
        [src]="simulatorVideo"
        autoplay
        loop
        muted
        playsinline
        class="Homebanner-video w-100 h-100 bg-site"
      ></video>
    </app-page-banner>
  </ng-container>

  <!-- Benefits section -->

  @if (hydrated() && (!isEnrolled() || !isLoggedIn())) {
    <!-- @if(!isEnrolled() || !isLoggedIn()){ -->
    <div class="CertifticationBenfits d-flex flex-column gap-5 pt-5 pb-5">
      <div class="d-flex flex-column align-items-center gap-2">
        <h2 class="mainTextColor">
          {{ "examSimulator.everythingYouNeed" | translate }}
        </h2>
        <p class="CertifticationBenfitsSubTitle">
          {{ "examSimulator.masterPmpQuestions" | translate }}
        </p>
      </div>

      <div class="examBenfits">
        @for (item of examSimulatorBenfits; let i = $index; track item) {
          <app-icon-card
            [title]="item.title"
            [description]="item.description"
            [icon]="item.icon"
          ></app-icon-card>
        }
      </div>
    </div>
  }

  <!-- } -->

  <!-- Modes / Try before buy section -->
  <div class="modes d-flex flex-column gap-5 pt-5 pb-5">
    <div class="d-flex flex-column align-items-center gap-2">
      @if (!isEnrolled()) {
        <div>
          <span class="mainTextColor fst-italic">
            {{ "examSimulator.tryBeforeBuy" | translate }}
          </span>
        </div>
      }

      <h2 class="darkText">
        @if (isEnrolled()) {
          {{ "ExperienceExamSimulator" | translate }}
        } @else {
          {{ "examSimulator.experienceFree" | translate }}
        }
      </h2>

      <p class="CertifticationBenfitsSubTitle">
        {{ "examSimulator.testBothModes" | translate }}
      </p>
    </div>

    <ng-container *ngIf="hydrated() && (!isEnrolled() || !isLoggedIn())">
      <!-- <ng-container *ngIf="!isEnrolled() || !isLoggedIn()"> -->
      <!-- @if(!chooseExam){ -->

      <div class="d-flex justify-content-center">
        <div class="examModeCard d-flex flex-column gap-3 shadow-sm">
          <div class="d-flex gap-3 align-items-start">
            <div class="icon p-3">
              <span><i class="bi bi-file-earmark-text"></i></span>
            </div>

            <div class="d-flex  flex-grow-1 flex-column gap-1">
              <div class="d-flex   justify-content-between align-items-center">
                <h3 class="darkText">
                  {{ "examSimulator.freeExam" | translate }}
                </h3>
                <app-feature
                  title="common.freeAccess"
                  icon="bi bi-patch-check-fill"
                ></app-feature>
              </div>

              <p>
                {{ "examSimulator.freePreviewDescription" | translate }}
              </p>
            </div>
          </div>

          <div class="examInfo d-flex align-items-center p-3">
            <div
              class="questions d-flex flex-column gap-2 flex-grow-1 align-items-center darkText"
            >
              <div class="d-flex align-items-center gap-1">
                <i class="bi bi-question-circle"></i>
                <span class="title">{{ "common.questions" | translate }}</span>
              </div>
              <span>10</span>
            </div>

            <div
              class="d-flex flex-column gap-2 flex-grow-1 align-items-center darkText"
            >
              <div class="d-flex align-items-center gap-1">
                <i class="bi bi-clock"></i>
                <span class="title">{{ "common.duration" | translate }}</span>
              </div>
              <span>12min, 42 Sec</span>
            </div>
          </div>

          <div class="d-flex align-items-center gap-2 justify-content-center">
            <i class="bi bi-check-circle"></i>
            <span class="darkText">
              {{ "examSimulator.practiceAndExamMode" | translate }}
            </span>
          </div>

          <div class="d-flex align-items-center gap-2 justify-content-center">
            <i class="bi bi-check-circle"></i>
            <span class="darkText">
              {{ "examSimulator.reportsAndLessons" | translate }}
            </span>
          </div>

          <div class="d-flex align-content-stretch gap-3 w-100">
            <app-site-button
              class="w-100 site-primary-button"
              title="examSimulator.startFreeExam"
              [icon]="'bi bi-arrow'"
              type="main"
              (click)="navigateToFreeExam()"
            ></app-site-button>
          </div>
        </div>
      </div>
      <!-- }@else{
              <app-choose-exam/>
          } -->
    </ng-container>

    <!-- Show full exams list if already purchased -->
    <!-- <app-simulator-exams
      *ngIf="isEnrolled() && isLoggedIn()"
    ></app-simulator-exams> -->
    <app-simulator-exams
      *ngIf="hydrated() && isEnrolled() && isLoggedIn()"
    ></app-simulator-exams>
  </div>
</div>

<app-generic-modal [(isOpen)]="showConfirm" title="Alert Message">
  <section
    class="w-100 d-flex flex-column align-items-stretch gap-3 p-3 rounded"
  >
    <div
      class="d-flex flex-column align-items-center justify-content-center gap-2 w-100"
    >
      <i class="bi bi-info-circle-fill infoColor"></i>
      <p class="text-center darkText w-75 mx-auto">
        {{ "You Must be logged to be able to contact us." | translate }}
      </p>
    </div>
  </section>
</app-generic-modal>
