<section class="enrollForm">
  <ng-content select="[form-title]"></ng-content>
  <section
    class="form w-100 d-flex flex-column align-items-stretch gap-3 rounded mt-3"
  >
    <div class="d-flex flex-column gap-2 w-100">
      <h3 class="m-0">{{ "enroll.enroll" | translate }}</h3>
      <p>{{ "enroll.message" | translate }}</p>
    </div>

    <form #enrollForm="ngForm" (ngSubmit)="onEnroll()" class="enroll-form mb-0">
      <div class="d-flex flex-column gap-3">
        <app-input
          name="fullname"
          [(ngModel)]="enroll.fullname"
          required
          [label]="'enroll.fullnameLabel' | translate"
          [placeholder]="'enroll.fullnamePlaceholder' | translate"
          [icon]="'bi bi-person'"
          [errorMessages]="{
            required: 'Full Name is required' | translate,
          }"
        ></app-input>
        <app-input
          name="organizationname"
          [(ngModel)]="enroll.organizationname"
          required
          [label]="'enroll.organizationnameLabel' | translate"
          [placeholder]="'enroll.organizationnamePlaceholder' | translate"
          [icon]="'bi bi-building'"
          [errorMessages]="{
            required: 'Organization Name is required' | translate,
          }"
        ></app-input>
        <app-input
          name="email"
          [(ngModel)]="enroll.email"
          required
          email
          [label]="'log.emailLabel' | translate"
          [placeholder]="'log.emailPlaceholder' | translate"
          [icon]="'bi bi-envelope'"
          [errorMessages]="{
            required: 'Email is required' | translate,
            email: 'Invalid email format' | translate,
          }"
        ></app-input>

        <div class="field" [dir]="isRTL() ? 'rtl' : 'ltr'">
          <label for="phone">{{ "register.phoneLabel" | translate }}</label>

          <ngxsmk-tel-input
            name="enroll"
            [(ngModel)]="enroll.phone"
            #phone="ngModel"
            required
            phoneValidation
            [dir]="isRTL() ? 'rtl' : 'ltr'"
            [preferredCountries]="['EG', 'SA', 'AE', 'US']"
            [initialCountry]="'EG'"
            [i18n]="arabicLabels"
            [localizedCountries]="arabicCountries"
          ></ngxsmk-tel-input>

          <div
            class="error"
            *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)"
          >
            <div *ngIf="phone?.errors?.['required']">
              {{ "register.phoneRequired" | translate }}
            </div>
            <div *ngIf="phone?.errors?.['invalidNumber']">
              {{ "register.phoneInvalid" | translate }}
            </div>
          </div>
        </div>

        <app-textarea
          name="notes"
          [(ngModel)]="enroll.notes"
          required
          [label]="'enroll.notesLabel' | translate"
          [placeholder]="'enroll.notesLabel' | translate"
          [icon]="'bi bi-chat-dots'"
          [errorMessages]="{
            required: 'Notes is required' | translate,
          }"
        ></app-textarea>

        <app-site-button
          title="enroll.enrollBtn"
          type="main"
          htmlType="submit"
          [icon]="isRTL() ? 'bi bi-arrow-left' : 'bi bi-arrow-right'"
          [isRTL]="isRTL()"
        ></app-site-button>
      </div>
    </form>
  </section>
</section>
