<!-- src\app\shared\generic-model\generic-model.component.html -->
@if (isOpen()) {
  <div class="modal-backdrop fade show"></div>

  <div
    class="modal fade show d-block"
    tabindex="-1"
    role="dialog"
    aria-modal="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header py-2"   [ngClass]="title() ? 'justify-content-between' : 'justify-content-end'">
          <h5 class="modal-title">{{ title() | translate}}</h5>
          <button
            type="button"
            class="btn custom-close"
            aria-label="Close"
            (click)="close.emit(); isOpenChange.emit(false)"
          >
            <i class="bi bi-x-lg"></i>
        </button>
        </div>

        <div class="modal-body pb-2">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
}
