<!-- src\app\shared\spk-ng-select\spk-ng-select.component.html -->
<div class="d-flex flex-column gap-1">
  @if (label(); as lbl) {
  <label class="form-label mb-0" [for]="id()">
    {{ lbl | translate}}
  </label>
  }
  <ng-select
    [items]="options()"
    [bindLabel]="bindLabel()"
    [bindValue]="bindValue()"
    [id]="id()"
    [ngClass]="mainClass()"
    [class]="selectClass()"
    [class.validBorderError]="showErrors"
    [(ngModel)]="value"
    (ngModelChange)="handleSelectionChange($event)"
    [multiple]="multiple() || multi()"
    [placeholder]="placeholder()"
    [disabled]="disabled()"
    [clearable]="clearable()"
    [searchable]="searchable()"
    [hideSelected]="hideSelected()"
    [addTag]="addTag()"
    [maxSelectedItems]="maxSelectedItems()"
    appendTo="body"
    (blur)="onTouched()"
 >
      <!-- [virtualScroll]="options()!.length > 150" -->

        @if(iconField()){

    <ng-template ng-option-tmp let-item="item">

      <div class="d-flex align-items-center gap-2">

        <i [class]="item[iconField()]"></i>

        <span>{{ item[bindLabel()] }}</span>

      </div>

    </ng-template>

    <ng-template ng-label-tmp let-item="item">

      <div class="d-flex align-items-center gap-2">

        <i [class]="item[iconField()]"></i>

        <span>{{ item[bindLabel()] }}</span>

      </div>

    </ng-template>

  }
    <ng-content></ng-content>
  </ng-select>

  @if(showErrors){
  <div class="validationError mt-1">
    @for(msg of errorMessages ; track msg){
    <div >
      {{ msg }}
    </div>
  }
  </div>
}
</div>

