
<div [dir]="isRTL() ? 'rtl' : 'ltr'" class="field" class="d-flex flex-column w-100">

  <label>
    {{ labelKey }}
    <span *ngIf="required" class="text-danger">*</span>
  </label>

  <input
    #phoneInput
    type="tel"
     [value]="value"
    class="form-control"
      [placeholder]="placeholder"

    (input)="onInput()"
      (blur)="onBlur()"

  />
<div *ngIf="touched && !rawValue" class="text-danger small">
  {{ 'register.phoneRequired' | translate }}
</div>

<!-- INVALID -->
<div *ngIf="touched && rawValue && !isValid" class="text-danger small">
  {{ 'register.phoneInvalid' | translate }} - Example : {{ placeholder }}
</div>
</div>
