    <app-page-banner [isRTL]="isRTL()" [media]="true">
      <!-- Content projection -->
      <div content class="d-flex flex-column gap-3 pe-xl-5">
        <div class="d-flex flex-column gap-3">
          <h3 class="CertificationHeader">
            <span class="darkText">
              {{ "webinar.masterPmp" | translate }}
            </span>
            <span class="mainTextColor">
              {{ "webinar.title" | translate }}
            </span>
          </h3>

          <p>
            {{ "webinar.description" | translate }}
          </p>
        </div>
      </div>

      <img
        media
        [src]="courseImage"
        alt="contact Image"
        class="Homebanner-video shadow w-100 h-100"
      />
    </app-page-banner>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          
        </div>
      </div>
    </div>
