@use 'variables' as *;
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.options-bar {
  display: flex;
  gap: 20px;
  padding: 20px;
  border:1px dashed $borderColor;
}

.option-item {
  background-color: $primaryColor;
  color: $lightBgTextColor;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: grab;
  text-align: center;
  font-weight: 500;
}

.questions-container {
  display: flex;
  gap: 40px;
}

.question-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
}

.drop-box {
  width: 100%;
  min-height: 50px;
  background-color: $headerColor;
  color:$inputText;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-box .option-item{
  width: 100%;
  height: 100%;
}
.question-box {
  width: 100%;
  // min-height: 180px;
  height: 100%;
  background-color: $inputBg;
  color: $inputText;
  border:1px solid $borderColor;
  border-radius: 8px;
  white-space: pre-line;
}

.question-box img{
   height: 180px;
}

img{
  width: 100%;
  height: 100%;
}


.slots-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}


.row-layout{
  flex-direction: column;
  width:50%;
  .question-column{
    flex-direction: row;
    align-items: center;
   width: 100%;
    .drop-box , .question-box{
      min-height: 60px;
      margin-bottom: 0px;
      flex-grow: 1;
    }
    .drop-box{
      padding: .5rem;
      .option-item{
        height: 100% !important;
      }
    }
  }
}


/* ================= LEVEL 10 LAYOUT ================= */
.level-10 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: 95%;
}

.level-10 .question-column {
  width: 100%;
  max-width: none;
}

.level-10 .question-column:nth-child(1),
.level-10 .question-column:nth-child(2),
.level-10 .question-column:nth-child(3) {
  grid-column: span 2;
}

.level-10 .question-column:nth-child(4) {
  grid-column: 2 / span 2;
}

.level-10 .question-column:nth-child(5) {
  grid-column: 4 / span 2;
}

@media (max-width: 768px) {
  .level-10 {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
