.small-field {
  width: 180px;

  --mat-form-field-container-height: 24px;
  --mat-form-field-container-vertical-padding: 6px;

  .mat-mdc-form-field-infix {
    min-height: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  input {
    font-size: 13px;
  }
}
