<div class="d-flex flex-column gap-5">
  <app-page-banner [isRTL]="isRTL()" [media]="true">
    <div content class="d-flex flex-column gap-5">
      <section
        class="form w-100 d-flex flex-column align-items-stretch gap-3 rounded pe-lg-5"
      >
        <div class="d-flex flex-column gap-2 w-100">
          <h3 class="m-0">{{ "contact.sendUs" | translate }}</h3>
          <p>{{ "contact.anyQuestion" | translate }}</p>
        </div>

        <form
          #contactForm="ngForm"
          (ngSubmit)="onSendContactMessage()"
          class="contact-form mb-0"
        >
          <div class="d-flex flex-column gap-3">
            <app-input
              name="fullName"
              [(ngModel)]="contact.fullName"
              required
              [label]="'contact.fullNameLabel' | translate"
              [placeholder]="'contact.fullNamePlaceholder' | translate"
              [icon]="'bi bi-person'"
              [errorMessages]="{
                required: 'Full Name is required' | translate,
              }"
            ></app-input>
            <app-input
              name="email"
              [(ngModel)]="contact.email"
              required
              email
              [label]="'log.emailLabel' | translate"
              [placeholder]="'log.emailPlaceholder' | translate"
              [icon]="'bi bi-envelope'"
              [errorMessages]="{
                required: 'Email is required' | translate,
                email: 'Invalid email format' | translate,
              }"
            ></app-input>

            <div class="field" [dir]="isRTL() ? 'rtl' : 'ltr'">
              <label for="phone">{{ "register.phoneLabel" | translate }}</label>

              <ngxsmk-tel-input
                name="contact"
                [(ngModel)]="contact.phone"
                #phone="ngModel"
                required
                phoneValidation
                [dir]="isRTL() ? 'rtl' : 'ltr'"
                [preferredCountries]="['EG', 'SA', 'AE', 'US']"
                [initialCountry]="'EG'"
                [i18n]="arabicLabels"
                [localizedCountries]="arabicCountries"
              ></ngxsmk-tel-input>

              <div
                class="error"
                *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)"
              >
                <div *ngIf="phone?.errors?.['required']">
                  {{ "register.phoneRequired" | translate }}
                </div>
                <div *ngIf="phone?.errors?.['invalidNumber']">
                  {{ "register.phoneInvalid" | translate }}
                </div>
              </div>
            </div>

            <app-textarea
              name="message"
              [(ngModel)]="contact.message"
              required
              [label]="'contact.messageLabel' | translate"
              [placeholder]="'contact.messageLabel' | translate"
              [icon]="'bi bi-chat-dots'"
              [errorMessages]="{
                required: 'Message is required' | translate,
              }"
            ></app-textarea>

            <app-site-button
              title="contact.contactBtn"
              type="main"
              htmlType="submit"
              [icon]="isRTL() ? 'bi bi-arrow-left' : 'bi bi-arrow-right'"
              [isRTL]="isRTL()"
            ></app-site-button>
          </div>
        </form>
      </section>
    </div>

    <img
      media
      src="assets/images/contact/contact.jpeg"
      alt="contactImage"
      class="Homebanner-video shadow w-100 h-100"
    />
  </app-page-banner>

  <div class="d-flex flex-column w-100 gap-3">
    <h3 class="mainTextColor">{{ "Hi, We are always here to help you." | translate }}</h3>

    <div class="contactCards d-flex justify-content-center gap-2">
      @for (item of contactInfos(); track $index) {
        <div class="card-wrapper">
          @if (item.value) {
            <app-contact-card
              [icon]="item.icon"
              [header]="item.header"
              [value]="item.value"
            />
          } @else {
            <div class="contactCard">
              <i class="bi bi-link-45deg"></i>
              <div class="d-flex flex-column gap-2">
                <span class="key">{{ "Follow us" | translate }}</span>
                <div class="d-flex gap-2 flex-grow-1">
                  <i class="bi bi-facebook"></i>
                  <i class="bi bi-twitter-x"></i>
                  <i class="bi bi-instagram"></i>
                  <i class="bi bi-linkedin"></i>
                </div>
              </div>
            </div>
          }
        </div>
      }
    </div>
  </div>


  <div class="d-flex flex-column gap-4">
      <h3 class="location m-0">{{ 'Our Location' | translate }}</h3>

      <div class="map">
        <iframe
          title="Google Map Embed"
          width="100%"
          height="100%"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          [src]="mapUrl()"
        ></iframe>
      </div>
    </div>
</div>
