<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <section class="form w-100 d-flex flex-column gap-3 my-4 p-5 rounded">
        <div class="d-flex flex-column gap-2 w-100">
          <h3>{{ "resetPassword.title" | translate }}</h3>
          <p>{{ "resetPassword.description" | translate }}</p>
        </div>

        <!-- Error -->
        <div
          *ngIf="errorMessage"
          class="alert alert-danger text-center small py-2"
        >
          {{ errorMessage | translate }}
        </div>

        <!-- Success -->
        <div *ngIf="successMessage" class="alert alert-success text-center">
          {{ successMessage | translate }}
        </div>

        <form #resetForm="ngForm" (ngSubmit)="onReset(resetForm)">
          <div class="d-flex flex-column gap-3">
            <app-input
              name="password"
              [(ngModel)]="model.password"
              required
              minlength="6"
              [type]="'password'"
              [label]="'resetPassword.newPassword' | translate"
              [placeholder]="'resetPassword.newPassword' | translate"
              [errorMessages]="{
                required: 'Password is required' | translate,
                minlength: 'At least 6 characters' | translate,
              }"
            ></app-input>

            <div class="d-flex flex-column gap-1">
              <app-input
                name="confirmPassword"
                [(ngModel)]="model.confirmPassword"
                required
                minlength="6"
                [type]="'password'"
                [label]="'resetPassword.confirmPassword' | translate"
                [placeholder]="'resetPassword.confirmPassword' | translate"
                #confirmPassword="ngModel"
                [errorMessages]="{
                  required: 'Password is required' | translate,
                  minlength: 'At least 6 characters' | translate,
                }"
              ></app-input>
              <div
                *ngIf="
                  confirmPassword.touched &&
                  confirmPassword.valid &&
                  model.password &&
                  model.confirmPassword &&
                  !passwordsMatch()
                "
                class="text-danger small"
              >
                {{ "resetPassword.passwordMismatch" | translate }}
              </div>
            </div>

            <app-site-button
              [title]="'resetPassword.submit' | translate"
              type="main"
              htmlType="submit"
              [disabled]="isLoading"
            ></app-site-button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
