
<div class="certificate-page w-100 d-flex flex-column align-items-center">
  <div class="certificate-preview">
   <div #certificate class="certificate-container">

  <!-- Header -->
  <div class="header">

    <div class="left">
      <img src="/assets/images/finishCourse/logo.png" alt="logo">
<div class="pmp-badge text-center" [innerHTML]="badge()"></div>


    </div>

    <div class="right">
      <img src="/assets/images/finishCourse/anotherLogo.png" alt="PMI logo">

  <div class="vertical-code">
  <div class="inner">
    <span>5090</span>
    <span>{{codeNumber()}}</span>
  </div>
</div>
    </div>

    <div class="square">
      <img src="/assets/images/finishCourse/square.png" alt="square">
    </div>

  </div>

  <!-- Title -->
  <div class="main-title">Certificate of Attendance</div>

  <!-- Content -->
  <div class="content">
    <p class="awarded">Awarded to:</p>

    <h1 class="name">{{ userName() }}</h1>

    <p class="description">
      For successfully completing training in:
      <span>{{ courseName() }}</span>
    </p>

    <p class="date">
      Date: {{ date() }} ({{ hours() }} hours)
    </p>
  </div>

  <!-- Footer -->
  <div class="footer">
    <div class="instructor">
      <div class="instructor-name">Mahmoud Elhelbawi</div>
      <div class="role">Course Instructor</div>

      <div class="signature">
        <img src="/assets/images/finishCourse/signature.png" alt="signature">
      </div>
    </div>

    <div class="website">www.HelpEmpowerment.com</div>

    <div>
      <img src="/assets/images/finishCourse/checker.png" class="checker-img" />
    </div>
    <!-- <div class="checker"></div> -->
  </div>

</div>
  </div>

<div class="download-btn">
  <app-site-button
    title="Download Certificate"
    type="main"
    (click)="downloadPDF()"
  />
</div>

</div>
