.certificate-container {
  width: 1000px;
  height: 700px;
  padding: 40px;
  background: white;
  text-align: center;
  border: 10px solid #b30059;

  h1 {
    font-size: 40px;
    margin: 20px 0;
  }

  h2 {
    color: #b30059;
  }
}
