<div class="row row-sm">
  <div class="col-xl-4">
    <div class="card mb-4 h-100">
      <div class="card-body d-flex align-items-center justify-content-center">
        <div class="ps-0">
          <div class="main-profile-overview p-3">
            <div class="profile-image-wrapper">
              <img [src]="studentImage" alt="user image" class="profile-img" />

              <label class="profile-edit-btn">
                <i class="bi bi-camera-fill"></i>
                <input
                  type="file"
                  (change)="handleFileInput($event)"
                  accept="image/*"
                  hidden
                />
              </label>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <div class="text-center w-100">
                <h5 class="main-profile-name mb-1 text-center">
                  {{ isRTL() ? user()?.nameAr : (user()?.nameEn | titlecase) }}
                </h5>
                <p class="main-profile-name-text w-100 text-muted text-center">
                  {{ user()?.username }}
                </p>
              </div>
            </div>
            <h6 class="fs-14 text-center">
              {{ "profile.contactInfo" | translate }}
            </h6>
            <div class="main-profile-bio text-center">
              <i class="bi bi-envelope pe-2"></i>
              <span>{{ user()?.email }}</span>

              <!-- <a href="javascript:void(0);" class="text-primary">More</a> -->
            </div>
            @if (user()?.mobile) {
              <div class="main-profile-bio text-center">
                <i class="bi bi-telephone pe-1"></i>
                <span> {{ user()?.mobile }} </span>
              </div>
            }

            <!-- main-profile-bio -->
            <!-- <div class="row mt-3 justify-content-center">
              <div class="col-md-4 col">
                <h5 class="fs-17 text-center mainTextColor">
                  {{ enrolledCourses().length }}
                </h5>
                <h6 class="text-small text-muted text-center fs-14 mb-0">
                  {{ "profile.certifications" | translate }}
                </h6>
              </div>
              <div class="col-md-4 col">
                <h5 class="fs-17 text-center mainTextColor">
                  {{ getTotalExamsLength() }}
                </h5>
                <h6 class="text-small text-center text-muted fs-14 mb-0">
                  {{ "Exams" | translate }}
                </h6>
              </div>
              <div class="col-md-4 col">
                <h5 class="fs-17 text-center mainTextColor">
                  {{ successRate() }}%
                </h5>
                <h6 class="text-small text-center text-muted fs-14 mb-0">
                  {{ "Success Rate" | translate }}
                </h6>
              </div>
            </div> -->
          </div>
          <!-- main-profile-overview -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8">
    <div class="card">
      <div class="card-body">
        <div class="tabs-menu">
          <!-- Tabs -->
          <ul
            ngbNav
            #nav="ngbNav"
            class="nav nav-tabs profile navtab-custom panel-tabs pb-0 pt-0"
          >
            <li [ngbNavItem]="1" class="">
              <a ngbNavLink data-bs-toggle="tab" class="" aria-expanded="true">
                <span class="visible-xs"
                  ><i class="bi bi-collection me-1"></i
                ></span>
                <span class="hidden-xs">{{
                  "profile.enrolledCertifications" | translate
                }}</span>
              </a>
              <ng-template ngbNavContent>
                <div class="row g-2">
                  @if (!showCourseDetailsFlag) {
                    @for (course of enrolledCourses(); track course) {
                      <div class="col-sm-6 col-md-6 col-lg-4">
                        <div
                          class="card course-card h-100 position-relative h-100"
                          (click)="showCourseDetails(course)"
                        >
                          <img
                            [src]="getCourseImage(course)"
                            class="card-img-top"
                            alt="course"
                          />

                          <div class="card-body d-flex flex-column flex-grow-1">
                            <h5 class="card-title">
                              {{ course.courseName }}
                              {{ "profile.certification" | translate }}
                            </h5>
                            <!-- <p class="text-muted small mb-2">
                              Mahmoud Elhelbawi
                            </p> -->

                            <!-- <div class="d-flex justify-content-between mb-2">
                              <small
                                ><i class="bi bi-journal-text me-1"></i
                                >{{ course.lessons }} Lessons</small
                              >
                              <small
                                ><i class="bi bi-clock me-1"></i
                                >{{ course.duration }}</small
                              >
                            </div>

                            <div class="progress mb-2" style="height: 6px">
                              <div
                                class="progress-bar"
                                [style.width.%]="course.progress"
                              ></div>
                            </div>
                            <small class="text-end d-block mb-3"
                              >{{ course.progress }}% Completed</small
                            > -->

                            <!-- <app-site-button
                              class="flex-grow-1 align-content-end"
                              title="Continue Course"
                              [isRTL]="isRTL()"
                              type="main"
                              (click)="continueCourse(course)"
                            /> -->
                          </div>
                        </div>
                      </div>
                    } @empty {
                      <div class="empty-courses text-center py-5">
                        <i class="bi bi-journal-x fs-1 text-muted"></i>
                        <p class="mt-3 text-muted w-100">
                          {{ "profile.noCertifications" | translate }}
                        </p>
                      </div>
                    }
                  } @else {
                    <div class="d-flex gap-1 align-items-center">
                      @if (course()?.examSimulationReserv) {
                        <div
                          class="course-feature"
                          (click)="navigateToCourseFeatue('exam-simulator')"
                        >
                          <i class="bi bi-controller feature-icon"></i>
                          <span class="feature-text">{{
                            "profile.examSimulator" | translate
                          }}</span>
                        </div>
                      }

                      @if (course()?.recordedCourseReserv) {
                        <div
                          class="course-feature"
                          (click)="navigateToCourseFeatue('recorded-course')"
                        >
                          <i class="bi bi-play-circle feature-icon"></i>
                          <span class="feature-text">{{
                            "profile.recordedCourses" | translate
                          }}</span>
                        </div>
                      }

                      @if (course()?.liveCourseReserv) {
                        <div
                          class="course-feature"
                          (click)="navigateToCourseFeatue('live-course')"
                        >
                          <i class="bi bi-camera-video feature-icon"></i>
                          <span class="feature-text">{{
                            "profile.liveCourse" | translate
                          }}</span>
                        </div>
                      }

                      @if (!hasAnyCourseFeature()) {
                        <div
                          class="course-feature empty-feature w-100 justify-content-center"
                        >
                          <i class="bi bi-info-circle feature-icon"></i>
                          <span class="feature-text">
                            {{ "profile.noFeatures" | translate }}
                          </span>
                        </div>
                      }
                    </div>
                  }
                </div>
                <!-- } -->
              </ng-template>
            </li>
            <!-- <li [ngbNavItem]="2" class="">
              <a ngbNavLink data-bs-toggle="tab" aria-expanded="false">
                <span class="visible-xs"
                  ><i class="bi bi-clipboard-check me-1"></i
                ></span>
                <span class="hidden-xs">{{ "profile.exams" | translate }}</span>
              </a>
              <ng-template ngbNavContent>
                @if (studentExams().length === 0 && savedExams().length == 0) {
                  <div class="empty-exams text-center py-5">
                    <i class="bi bi-file-earmark-text fs-1 text-muted"></i>
                    <p class="mt-3 text-muted w-100">{{'profile.noExams' | translate}}</p>
                  </div>
                } @else {
                  <div class="row g-4 exams">
                    @for (exam of savedExams(); track exam.studentExamId) {
                      <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="card exam-card h-100 p-3">
                          <div
                            class="d-flex justify-content-between align-items-start mb-2"
                          >
                            <h6 class="mb-0">{{ exam.exam.examName }}</h6>
                            <span
                              class="badge"
                              [ngClass]="{
                                'bg-warning': exam.saveForLater,
                                'bg-info': !exam.saveForLater,
                              }"
                            >
                            {{ exam.saveForLater ? ("profile.saved" | translate) : ("profile.inProgress" | translate) }}
                            </span>
                          </div>

                          <p class="text-muted mb-2 small">
                            {{ exam.exam.courseName }} -
                            {{ exam.examMode | translate }}
                          </p>

                          <div class="progress mb-2" style="height: 6px">
                            <div
                              class="progress-bar"
                              [style.width.%]="getSavedExamProgress(exam)"
                            ></div>
                          </div>
                          <small class="text-end d-block mb-2"
                            >{{ getSavedExamProgress(exam) }}% {{'profile.completed' | translate}}</small
                          >

                          <ng-container>
                            <app-site-button
                              class="flex-grow-1 align-content-end"
                              title="profile.continueExam"
                              type="main"
                              (click)="goToExam(exam)"
                            />
                          </ng-container>
                        </div>
                      </div>
                    }
                    @for (exam of studentExams(); track exam.oid) {
                      <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="card exam-card h-100 p-3">
                          <div
                            class="d-flex justify-content-between align-items-start mb-2"
                          >
                            <h6 class="mb-0">{{ exam.examName }}</h6>
                            <span class="badge bg-success">
                              {{ "profile.finished" | translate }}
                            </span>
                          </div>

                          <p class="text-muted mb-2 small">
                            {{ exam.examName }} - {{ 'peofile.examMode'| translate}}
                          </p>

                          <div class="progress mb-2" style="height: 6px">
                            <div
                              class="progress-bar"
                              [style.width.%]="getExamProgress(exam)"
                            ></div>
                          </div>
                          <small class="text-end d-block mb-2"
                            >{{ getExamProgress(exam) }}% {{'profile.completed' | translate}}</small
                          >

                          <ng-container>
                            <div class="text-center text-success fw-bold mb-2">
                              {{'profile.successRate' | translate}}
                              Success Rate:
                              {{
                                 getSuccessRate(exam)
                              }}%
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    }
                  </div>
                }
              </ng-template>
            </li> -->
            <li [ngbNavItem]="4" class="">
              <a ngbNavLink data-bs-toggle="tab" aria-expanded="false">
                <span class="visible-xs"
                  ><i class="las la-cog fs-16 me-1"></i
                ></span>
                <span class="hidden-xs">{{
                  "profile.settings" | translate
                }}</span>
              </a>
              <ng-template ngbNavContent>
                <div class="border-0 p-0 form" id="settings">
                  <form
                    #registerForm="ngForm"
                    (ngSubmit)="onUpdateInfo()"
                    class="register-form mb-0"
                  >
                    <div class="d-flex flex-column gap-3">
                      <div class="row">
                        <div class="col-12 col-lg-6">
                          <app-input
                            name="firstName"
                            [(ngModel)]="credentials.firstName"
                            required
                            [label]="'register.firstNameLabel' | translate"
                            [placeholder]="
                              'register.firstNamePlaceholder' | translate
                            "
                            [icon]="'bi bi-person'"
                            [errorMessages]="{
                              required: 'First Name is required' | translate,
                            }"
                          ></app-input>
                        </div>
                        <div class="col-12 col-lg-6">
                          <app-input
                            name="lastName"
                            [(ngModel)]="credentials.lastName"
                            required
                            [label]="'register.lastNameLabel' | translate"
                            [placeholder]="
                              'register.lastNamePlaceholder' | translate
                            "
                            [icon]="'bi bi-person'"
                            [errorMessages]="{
                              required: 'Last Name is required' | translate,
                            }"
                          ></app-input>
                        </div>
                      </div>
                      <!-- <div class="row">
                        <div class="col-12 col-lg-6">
                          <app-input
                            name="firstNameAr"
                            [(ngModel)]="credentials.firstNameAr"
                            required
                            [label]="'register.firstNameArLabel' | translate"
                            [placeholder]="
                              'register.firstNameArPlaceholder' | translate
                            "
                            [icon]="'bi bi-person'"
                            [errorMessages]="{
                              required:
                                'Arabic First Name is required' | translate,
                            }"
                          ></app-input>
                        </div>
                        <div class="col-12 col-lg-6">
                          <app-input
                            name="lastNameAr"
                            [(ngModel)]="credentials.lastNameAr"
                            required
                            [label]="'register.lastNameArLabel' | translate"
                            [placeholder]="
                              'register.lastNameArPlaceholder' | translate
                            "
                            [icon]="'bi bi-person'"
                            [errorMessages]="{
                              required:
                                'Arabic Last Name is required' | translate,
                            }"
                          ></app-input>
                        </div>
                      </div> -->
                      <app-input
                        name="username"
                        [(ngModel)]="credentials.username"
                        required
                        [label]="'register.usernameLabel' | translate"
                        [placeholder]="
                          'register.usernamePlaceholder' | translate
                        "
                        [icon]="'bi bi-person'"
                        [errorMessages]="{
                          required: 'User Name is required' | translate,
                        }"
                      ></app-input>
                      <app-input
                        name="email"
                        [(ngModel)]="credentials.email"
                        required
                        email
                        [label]="'log.emailLabel' | translate"
                        [placeholder]="'log.emailPlaceholder' | translate"
                        [icon]="'bi bi-envelope'"
                        [errorMessages]="{
                          required: 'Email is required' | translate,
                          email: 'Invalid email format' | translate,
                        }"
                      ></app-input>

                      <app-phone-input
                        name="mobile"
                        [(ngModel)]="credentials.mobile"
                        [required]="true"
                        [labelKey]="'register.phoneLabel' | translate"
                      >
                      </app-phone-input>

                      <app-site-button
                        title="profile.save"
                        type="main"
                        htmlType="submit"
                        [icon]="'bi bi-arrow'"
                      ></app-site-button>
                    </div>
                  </form>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="5" class="">
              <a ngbNavLink data-bs-toggle="tab" aria-expanded="false">
                <span class="visible-xs"
                  ><i class="las la-cog fs-16 me-1"></i
                ></span>
                <span class="hidden-xs">{{
                  "profile.changePassword" | translate
                }}</span>
              </a>
              <ng-template ngbNavContent>
                <div class="border-0 p-0 form" id="changePassword">
                  <form
                    #passwordForm="ngForm"
                    (ngSubmit)="onChangePassword(passwordForm)"
                    class="register-form mb-0"
                  >
                    <div class="d-flex flex-column gap-3">
                      <app-input
                        name="currentPassword"
                        [(ngModel)]="changePasswordForm.currentPassword"
                        required
                        minlength="6"
                        [label]="'profile.currentPassword' | translate"
                        [placeholder]="'profile.currentPassword' | translate"
                        [icon]="'bi bi-lock'"
                        [type]="'password'"
                        [errorMessages]="{
                          required: 'CurrentPassword is required' | translate,
                          minlength: 'At least 6 characters' | translate,
                        }"
                      ></app-input>
                      <app-input
                        name="newPassword"
                        [(ngModel)]="changePasswordForm.newPassword"
                        required
                        minlength="6"
                        [label]="'profile.newPassword' | translate"
                        [placeholder]="'profile.enterNewPassword' | translate"
                        [icon]="'bi bi-lock'"
                        [type]="'password'"
                        [errorMessages]="{
                          required: 'New Password is required' | translate,
                          minlength: 'At least 6 characters' | translate,
                        }"
                      ></app-input>

                      <app-input
                        name="confirmPassword"
                        [(ngModel)]="changePasswordForm.confirmPassword"
                        required
                        minlength="6"
                        [label]="'profile.confirmPassword' | translate"
                        [placeholder]="
                          'profile.enterConfirmPassword' | translate
                        "
                        [icon]="'bi bi-lock'"
                        [type]="'password'"
                        [errorMessages]="{
                          required: 'Confirm Password is required' | translate,
                          minlength: 'At least 6 characters' | translate,
                        }"
                      ></app-input>
                      <app-site-button
                        title="profile.changePassword"
                        type="main"
                        htmlType="submit"
                        [icon]="'bi bi-arrow'"
                      ></app-site-button>
                    </div>
                  </form>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
        <div class="tab-content border border-top-0 p-4 br-dark customtab">
          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
    </div>
  </div>
</div>
