@use "variables" as *;



.profile-image-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  margin: auto;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  // border: 4px solid #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* Camera button */
.profile-edit-btn {
  position: absolute;
  bottom: 0px;
  right: 2px;
  width: 38px;
  height: 38px;
  background: $primaryColor;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  .bi {
    color: $lightBgTextColor !important;
  }
}

.profile-edit-btn:hover {
  transform: scale(1.1);
  background: $secondaryColor;
}

.profile-edit-btn i {
  font-size: 16px;
}

.course-card {
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.course-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.15);
}

.course-card img {
  height: 180px;
  object-fit: cover;
}

.progress-bar {
  background: linear-gradient(45deg, #ad1357, #470824) !important;
}


.exam-card {
  background-color: $inputBg !important;
  border-radius: 12px;
  transition: 0.3s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

.exam-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.progress-bar {
  background: linear-gradient(90deg, #0d6efd, #6610f2);
  border-radius: 3px;
}

.exam-rating i {
  margin-right: 2px;
  font-size: 0.9rem;
}

.empty-exams {
  color: #6c757d;
  i {
    font-size: 4rem;
  }
  p {
    font-size: 1rem;
  }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: $primaryColor !important;
  background-color: $inputBg;
}

.nav-link {
  color: $paraTextColor !important;
}

.card-body,
.card {
  background-color: $bgBody;
  * {
    color: $lightTextColor !important;
  }
}
.course-feature {
  display: flex;
  gap: 0.5rem !important;
  align-items: center;
  justify-content: center;
  background-color: $primaryColor !important;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  &:hover {
    background-color: $secondaryColor !important;
  }
  * {
    color: $lightBgTextColor !important;
  }
}

.empty-feature {
  background: transparent !important;
  cursor: default;
  * {
    color: $headerColor !important;
  }
}
