@use 'variables' as *;
.mainContainer{
  padding-top: 165px;
}

.pagesBanner{
  background-color: $secondaryColor;
  text-align: center;
  padding:.5rem;
  span{
    color:$lightBgTextColor;
  }
}


@media (max-width: 992px) {
.mainContainer{
  padding-top: 165px;
}}
