@use 'variables' as *;
.mainContainer{
   padding-top: 0;
   flex-grow: 1;

}

.fullPage{
     padding: 1rem !important;
}
.pagesBanner{
  background-color: $secondaryColor;
  text-align: center;
  padding:.5rem;
  span{
    color:$lightBgTextColor;
  }
}



