@use 'variables' as *;
.mainContainer{
  // padding-top: 165px;
   padding-top: 190px;
   flex-grow: 1;

}

.pagesBanner{
  background-color: $secondaryColor;
  text-align: center;
  padding:.5rem;
  span{
    color:$lightBgTextColor;
  }
}


@media screen and  (min-width: 636px) {
.mainContainer{
  padding-top: 145px;
}}


@media screen and  (min-width: 980px) {
.mainContainer{
  padding-top: 108px;
}}

@media screen and  (min-width: 992px) {
.mainContainer{
  padding-top: 162px;
}}





