<div class="container-fluid">
  <div class="row g-lg-5">
    <div class="col-12 col-xl-8">
      <div class="serviceContent flex-grow-1">
        <app-services-page
         [mainTitle]="'PMIS.MAIN_TITLE'"
          [mainParagraph]="'PMIS.MAIN_DESCRIPTION'"
          [pointSection]="whatWeDeliverSection"
          [titledSection2]="keyBenefitsSection"
          [sectionTag]="pmisTagSection"
        />
      </div>
    </div>

    <div class="col-12 col-xl-4">
      <div class="shadow-sm rounded p-2">
        <app-enroll-form>
          <p form-title class="serviceTitle d-flex flex-column gap-1">
            <span>{{ "PMIS.ENROLL_TITLE_1" | translate }}</span>
            <span>{{ "PMIS.ENROLL_TITLE_2" | translate }}</span>
          </p>
        </app-enroll-form>
      </div>
    </div>
  </div>
</div>

<ng-template #whatWeDeliverSection>
  <app-service-point
    mainTitle="PMIS.WHAT_WE_DELIVER_TITLE"
    subTitle="PMIS.WHAT_WE_DELIVER_SUBTITLE"
    [cardPointsInfo]="servicePmisCardsInfo"
  />
</ng-template>

<ng-template #keyBenefitsSection>
  <app-service-title mainTitle="PMIS.KEY_BENEFITS_TITLE">
    <div class="keyBenfits d-flex flex-column gap-2">
      @for (item of keyBenfits; track item.text) {
        <p class="d-flex align-items-center gap-2">
          <i [class]="item.icon"></i>
          <span>{{ item.text | translate }}</span>
        </p>
      }
    </div>
  </app-service-title>
</ng-template>



<ng-template #pmisTagSection>
  <app-service-card
    newClass="serviceTag"
    icon="bi bi-kanban-fill"
    header="PMIS.SECTION_TAG_HEADER"
    text="PMIS.SECTION_TAG_TEXT"
  />
</ng-template>
