

<!-- drag-component.component.html -->
<div class="builder-container"  >
  <!-- Left column - fixed items (not draggable) -->
  <div class="column left" [class.order-2]="translatedFlag">
    <div class="fixed-list">
      <div class="item"         [class.text-end]="translatedFlag"
 *ngFor="let item of leftItems">
        {{ translatedFlag ? item.answerText_Ar : item.answerText }}
      </div>
    </div>
  </div>

  <!-- Middle column - droppable slots -->
  <div class="column middle" [class.order-1]="translatedFlag">
    <div
      cdkDropList
      id="middleList"
      [cdkDropListData]="middleItems"
      [cdkDropListConnectedTo]="['rightList']"
      class="list"
        [cdkDropListDisabled]="answersFlag || translatedFlag"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="item "
        *ngFor="let item of middleItems; let i = index"
        cdkDrag
        cdkDropListGroup
        [cdkDragDisabled]="item === null || answersFlag || translatedFlag "
        [class.placeholder]="item === null"
        [cdkDragData]="item"
      >
        {{  item?.answerText|| "Drop Here" }}
      </div>
    </div>
  </div>

  <!-- Right column - available items (draggable back) -->
  <!-- @if (rightItems.length > 0) { -->
  @if(!answersFlag){
  <div class="column right">
    <div
      cdkDropList
      id="rightList"
      cdkDropListGroup
      [cdkDropListData]="rightItems"
      [cdkDropListConnectedTo]="['middleList']"
      class="list"
              [cdkDropListDisabled]="translatedFlag"

      (cdkDropListDropped)="drop($event)"
    >
      @for (item of rightItems; track item) {
        <div class="item draggable"         [class.text-end]="translatedFlag"
 cdkDrag [cdkDragData]="item">
          {{ translatedFlag ? item.answerText_Ar : item.answerText }}
        </div>
      } @empty {
        <div
          class=" column right rounded-3 d-flex align-items-center gap-1 justify-content-center text-muted"
        >
          <i class="bi bi-info-circle-fill"></i>
          <span>No More Options</span>
        </div>
      }
    </div>
  </div>
  }

</div>
