<!-- <div class="certificationsExams"> -->
<div class="container-fluid certificationsExams">
  <!-- <div class="d-flex justify-content-center gap-3 flex-grow-1 row"> -->
  <div class="row g-3">
    @for (item of items(); track item.oid ?? item; let index = $index) {
      <div class="col-12 col-lg-4">
        <!-- <div class="examModeCard d-flex flex-column gap-3 shadow"> -->
        <div class="shadow examModeCard d-flex flex-column gap-3 w-100">
          <div class="d-flex gap-2 align-items-center">
            <div class="header icon">
              <span>
                <i class="bi bi-file-earmark-text"></i>
              </span>
            </div>

            <div class="d-flex flex-column gap-1">
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="mainTextColor mb-0">{{ item.examName | translate }}</h3>
              </div>
            </div>
          </div>

          <div class="examInfo d-flex align-items-center p-3">
            <div
              class="questions d-flex flex-column gap-2 flex-grow-1 align-items-center darkText"
            >
              <div class="d-flex align-items-center gap-1">
                <i class="bi bi-question-circle"></i>
                <span class="title">{{ "common.questions" | translate }}</span>
              </div>
              <span>{{ item.questionCount }}</span>
            </div>

            <div
              class="d-flex flex-column gap-2 flex-grow-1 align-items-center darkText"
            >
              <div class="d-flex align-items-center gap-1">
                <i class="bi bi-clock"></i>
                <span class="title">{{ "common.duration" | translate }}</span>
              </div>
              <span>{{ item.durationMinutes }} {{'min' | translate}}</span>
            </div>
          </div>

          <div class="d-flex align-items-center gap-2 justify-content-center">
            <i class="bi bi-check-circle"></i>
            <span class="darkText">
              {{ "examSimulator.practiceAndExamMode" | translate }}
            </span>
          </div>

          <div class="d-flex align-items-center gap-2 justify-content-center">
            <i class="bi bi-check-circle"></i>
            <span class="darkText">
              {{ "examSimulator.reportsAndLessons" | translate }}
            </span>
          </div>

          <div class="d-flex align-content-center gap-3 w-100">
            <app-site-button
              class="w-100 site-primary-button"
              [title]="'common.startNow' | translate"
              [icon]="'bi bi-arrow'"
              type="main"
              (click)="startExam(item!)"
            ></app-site-button>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<!-- <div
  class="arrows w-100 pt-3 d-flex justify-content-center align-items-center gap-3"
>
  <button (click)="prev()" [disabled]="!canGoPrev()">
    <i class="bi bi-chevron-left"></i>
  </button>

  <button (click)="next()" [disabled]="!canGoNext()">
    <i class="bi bi-chevron-right"></i>
  </button>
</div> -->
