
@use 'variables' as *;
// .arrows button{
//     background-color: $primaryColor;
//     color:$lightBgTextColor;
//     border-radius: 50%;
//     padding:1rem 1rem;
//     border:none;
// }

// .arrows button i {
//     font-size: 1.2rem;
// }
// .arrows button:hover{
//     background-color:$secondaryColor;
// }
// .arrows button:disabled{
//     background-color: #D8DDE1 !important;
//     color:$iconColor !important;
//     cursor: none;
// }

.examInfo .title{
    font-weight:$bold;
}


.examModeCard {
  padding: 1rem;
  border-radius: $borderRadius;
}

.examModeCard:hover {
  background-color: $secondaryColor;
  color: $lightBgTextColor;
}
.examModeCard .icon {
  background-color: $primaryColor;
  color: $lightBgTextColor;
  border-radius:$borderRadius;
  font-size: 1.1rem;
}

.examModeCard:hover * {
  color: $lightBgTextColor;
}
.examModeCard:hover .icon {
  background-color: $lightBgTextColor;
  color: $secondaryColor;
}
.examModeCard:hover .icon i {
  color: $secondaryColor;
}

.examModeCard:hover .feature-card {
  background-color: $lightBgTextColor;
}

.examModeCard:hover .feature-card * {
  color:$secondaryColor;
}


.examModeCard:hover .site-primary-button:hover {
    background-color:$lightBgTextColor !important;
    border-radius: 8px;
}
.examModeCard:hover .site-primary-button:hover * {
  color:$primaryColor !important;
}

:host ::ng-deep .examModeCard:hover .site-primary-button button {
  background-color: $lightBgTextColor !important;
  color: $primaryColor !important;
}

.examInfo {
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid  $borderColor;
}
.examInfo .questions {
  border-right: 1px solid  $borderColor;
}

[dir="rtl"] .examInfo .questions {
  border-left: 1px solid  $borderColor;
}

.fa-circle-check {
  color: rgb(34, 220, 34);
}




.certificationsExams .icon  {
  padding:.5rem 1rem;
}
.certificationsExams h3  {
 font-size:1.3rem;
}
 .bi-check-circle{
  color:$successColor;
}


@media screen and (min-width: 768px) {
  .examBenfits {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .certification .rating {
    flex-direction: row;
    gap: 1rem;
  }
  .certification .enrollTag,
  .certification .enrollTag img {
    order: 1;
  }
}

@media screen and (min-width: 1200px) {
  .examBenfits {
    grid-template-columns: repeat(3, 1fr);
  }

}
