<div class="exam-container">
  <!-- Header -->
  <header class="exam-header flex-column flex-lg-row gap-2">
    <app-feature title="Exam 1 - Practice Mode" icon="bi bi-star" />
    <!-- <div class="mode"><span class="star">★</span> Exam 1 - Practice Mode</div> -->
    <div class="actions d-flex flex-column flex-lg-row gap-2 flex-grow-1">
      <app-site-button
        class="flex-grow-1"
        title="End Exam"
        [isRTL]="isRTL()"
        type="main"
        (click)="onEndExam()"
      />
      <app-site-button
        class="flex-grow-1"
        title="Save and Continue Later"
        [isRTL]="isRTL()"
        type="secondary"
        (click)="onSaveExamForLater()"
      />
      <app-site-button
        title="Whiteboard"
        [isRTL]="isRTL()"
        type="main"
        icon="bi bi-easel"
        [customClass]="true"
        (click)="onOpenWhiteboard()"
      />
    </div>
  </header>
  <!-- Question area -->
  <main class="question-area">
    <div class="d-flex flex-column flex-md-row gap-2">
      <div class="question-header shadow rounded rounded-3 flex-grow-1">
        <div class="progress-info">
          <span class="mainTextColor"
            ><i class="bi bi-question-circle-fill"></i
          ></span>
          @if (question().orderNo) {
            <span class="qid mainTextColor"
              >{{ question().orderNo }}/{{ question().totalQuestions }}</span
            >
          }

          <div class="progress-bar">
            <div
              class="progress-fill"
              [style.width.%]="question().progress"
            ></div>
          </div>
        </div>
      </div>
      <app-site-button
        title="Calculator"
        [isRTL]="isRTL()"
        type="main"
        icon="bi bi-calculator"
        [customClass]="true"
        (click)="onOpenCalculator()"
      />
    </div>

    <div class="question-content">
      <h2 class="question-text">
        {{ question().questionText }}
      </h2>

      <!-- @if (question().questionTypeName != "MATCHING") { -->
      @if (!isMatchingQuestion) {
        <div class="options">
          @for (opt of question().answers; track opt.letter) {
            <label
              class="option"
              [class.selected]="opt.isSelected"
              (click)="selectOption(opt)"
            >
              <span class="letter">({{ opt.letter }})</span>
              <span class="text">{{ opt.answerText }}</span>
            </label>
          }
        </div>
      } @else {
        <app-drag-component
          [leftItems]="left"
          [rightItems]="right"
          [savedMiddle]="savedMiddle"
          (rightItemsChange)="right = $event"
          (middleChange)="onMiddleChange($event)"
        ></app-drag-component>
      }
    </div>
    @if (showTranslateFlag) {
      <div class="correctAnswer mt-3 rounded-3 d-flex gap-3 flex-column">
        <div class="d-flex flex-column">
          <h3 class="mainTextColor text-end">الترجمة بالعربية</h3>
          <div class="question-content">
            <h2 class="question-text text-end">
              {{ question().questionText_Ar }}
            </h2>

            <!-- @if (question().questionTypeName != "MATCHING") { -->
            @if (!isMatchingQuestion) {
              <div class="options">
                @for (opt of question().answers; track opt.letter) {
                  <label
                    class="option translatedOption justify-content-end"
                  >
                    <span class="letter order-1">({{ opt.letter }})</span>
                    <span class="text me-2">{{ opt.answerText_Ar }}</span>
                  </label>
                }
              </div>
            } @else {
              <app-drag-component
                [leftItems]="left"
                [rightItems]="right"
                [translatedFlag]="true"
              ></app-drag-component>
            }
          </div>
        </div>
      </div>
    }
    <!-- Footer controls -->
    <footer class="question-footer gap-2 flex-column flex-lg-row">
      <div class="left-controls d-flex align-items-center gap-1">
        <app-site-button
          [title]="'Question Board' | translate"
          type="main"
          [customClass]="true"
          icon="bi bi-clipboard-data"
          [isRTL]="isRTL()"
          (click)="onOpenQuestionBoard()"
        />
          @if(!showTranslateFlag){
    <app-site-button
          [title]="'Translate' | translate"
          type="main"
          [isRTL]="isRTL()"
          icon="bi bi-translate"
          [customClass]="true"
          (click)="onTranslate()"
        />
        }@else{
    <app-site-button
          [title]="'Hide Translation' | translate"
          type="main"
          [isRTL]="isRTL()"
          icon="bi bi-translate"
          [customClass]="true"
          (click)="hideTranslations()"
        />
        }

      </div>
      <div class="nav-buttons d-flex align-items-center gap-1">
        <app-site-button
          title="Show Answer"
          [isRTL]="isRTL()"
          icon="bi bi-eye-fill"
          [hidden]="showCorrectAnswerFlag"
          type="main"
          (click)="showAnswer()"
        />
        <app-site-button
          title="Hide Answer"
          [isRTL]="isRTL()"
          icon="bi bi-eye-slash-fill"
          [hidden]="!showCorrectAnswerFlag"
          type="main"
          (click)="hideAnswer()"
        />
      </div>
      <div class="nav-buttons d-flex align-items-center gap-1">
        <app-site-button
          [title]="'Previous' | translate"
          type="secondary"
          [isRTL]="isRTL()"
          (click)="previousQuestion()"
        />

        <app-site-button
          [title]="'Marked' | translate"
          type="main"
          icon="bi bi-bookmark-check"
          [customClass]="true"
          [isRTL]="isRTL()"
          (click)="onMarkQuestion()"
        />
        <app-site-button
          title="Next"
          [isRTL]="isRTL()"
          type="main"
          (click)="nextQuestion()"
        />
      </div>
    </footer>
    @if (showCorrectAnswerFlag) {
      <div class="correctAnswer mt-3 rounded-3 d-flex gap-3 flex-column">
        <div class="d-flex flex-column">
          <h3 class="mainTextColor">Correct Answer</h3>
          <div class="d-flex flex-column gap-1">
            @if (
              this.question().questionTypeName == "Multiple Choice Question"
            ) {
              @for (answer of question().answers; track answer) {
                @if (answer.isCorrect) {
                  <span>{{ answer.answerText }}</span>
                }
              }
            } @else {
              <app-drag-component
                [leftItems]="left"
                [savedMiddle]="correctMiddle"
                [answersFlag]="true"
              ></app-drag-component>
            }
          </div>
        </div>
        <div class="d-flex flex-column">
          <h3 class="mainTextColor">Explanation</h3>
          <span class="darkText">{{ question().questionExplination }}</span>
        </div>
      </div>
    }
  </main>
</div>

<app-generic-modal [(isOpen)]="showConfirm" title="">
  <section
    class="form w-100 d-flex flex-column align-items-stretch gap-3 p-3 rounded"
  >
    <div
      class="d-flex flex-column align-items-center justify-content-center gap-2 w-100"
    >
      <i class="bi bi-info-circle-fill infoColor"></i>
      <p class="text-center darkText w-75 mx-auto">
        {{ "Are you sure you want  to end exam now?" | translate }}
      </p>
      <div class="d-flex gap-2 align-items-center">
        <app-site-button
          class="flex-grow-1"
          title="Cancal"
          [isRTL]="isRTL()"
          type="secondary"
          (click)="onCancalEndExam()"
        />
        <app-site-button
          class="flex-grow-1"
          title="End Now"
          [isRTL]="isRTL()"
          type="main"
          (click)="EndExam()"
        />
      </div>
    </div>
  </section>
</app-generic-modal>

<app-generic-modal [(isOpen)]="showQuestionBoard" title="Question Board">
  <section
    class="form w-100 d-flex flex-column align-items-stretch gap-3 p-3 rounded"
  >
    <div
      class="d-flex flex-column align-items-center justify-content-center gap-2 w-100"
    >
      <div class="d-flex gap-1">
        <div class="p-1 rouneded rounded-3 d-flex align-items-center gap-1">
          <span class="notAnswesedTag"><i class="bi bi-circle-fill"></i></span>
          <span>Not Answered</span>
        </div>
        <div class="p-1 rouneded rounded-3 d-flex align-items-center gap-1">
          <span class="AnswesedTag"><i class="bi bi-circle-fill"></i></span>
          <span>Answered</span>
        </div>
        <div class="p-1 rouneded rounded-3 d-flex align-items-center gap-1">
          <span class="markedTag"><i class="bi bi-circle-fill"></i></span>
          <span>Marked</span>
        </div>
        <!-- <div class="p-1 rouneded rounded-3 d-flex align-items-center gap-1">
          <span class="skippedTag"><i class="bi bi-circle-fill"></i></span>
          <span>Skipped</span>
        </div> -->
      </div>
      <div class="row g-1 flex-wrap">
        @for (
          question of questionboardNumbers;
          let index = $index;
          track index
        ) {
          <div class="col-2">
            <div
              class="d-flex gap-1 align-items-center p-1 rounded rounded-2 question-box"
              [ngClass]="question.status"
              (click)="navigateToQuestion(question)"
            >
              @if (question.status == "marked") {
                <i class="bi bi-flag-fill"></i>
              } @else if (question.status == "skipped") {
                <i class="bi bi-skip-forward-circle"></i>
              } @else {
                <i class="bi bi-question-circle-fill"></i>
              }
              <p class="text-center darkText w-75 mx-auto">Q{{ index + 1 }}</p>
            </div>
          </div>
        } @empty {
          <p>No questions</p>
        }
      </div>

      <div
        class="d-flex w-100 gap-2 align-items-center justify-content-between"
      >
        <span> {{ "30" }} of {{ questionboardNumbers.length }} answered </span>
        <app-site-button
          title="Close"
          [isRTL]="isRTL()"
          type="main"
          (click)="closeQuestionBoard()"
        />
      </div>
    </div>
  </section>
</app-generic-modal>

<app-generic-modal [(isOpen)]="showCalculator" title="Calculator">
  <section
    class="form w-100 d-flex flex-column align-items-stretch gap-3 p-3 rounded"
  >
    <app-calculator />
  </section>
</app-generic-modal>

<app-generic-modal [(isOpen)]="showWhiteboard" title="Whiteboard">
  <section
    class="form w-100 d-flex flex-column align-items-stretch gap-3 p-3 rounded"
  >
    <app-whiteboard />
  </section>
</app-generic-modal>
