@use 'variables' as *;

.date{
    font-size:$fs-sm;
    color:$paraTextColor;
}



.articleCard{
    position: relative;
  transition: transform 1s ease-in-out;
  border-radius:$borderRadius;

  img{
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    height: 300px;
  }
}
.articleName{
    color:$primaryColor;
}

.articleCard:hover {
  transform: scale(1.035) translateY(-8px);
  background-color: $secondaryColor;

  .articleName,
  .articleDesc,
  .date,
  .learnMore span,
  .learnMore i {
    color: $lightBgTextColor !important;
  }
}

img{
  width: 100%;
}

.learnMore{
  span{
      color:$primaryColor;
  font-weight: $bold;
  }
 i{
    color:$primaryColor;
 }
}

.card-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
}

.card-actions i {
  background: $primaryColor;
  color:$lightBgTextColor;
    opacity: 1;
  visibility: visible;
  transform: none;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


// .card-actions .edit-icon:hover {
//   color: #0d6efd;
// }

// .card-actions .delete-icon:hover {
//   color: #dc3545;
// }
