<div>
  <app-page-banner [isRTL]="isRTL()" [media]="true">
    <div content class="d-flex flex-column gap-4">
      <div>
        <app-feature title="Feature" icon="bi bi-star" />
      </div>

      <div class="title darkText">
        <h1 class="line1">{{ "Linking Knowledge" | translate }}</h1>
        <h1>
          <span>{{ "to" | translate }}</span>
          <span class="ps-2 mainTextColor">{{ "Practical" | translate }}</span>
        </h1>
        <h1 class="mainTextColor">{{ "Execution" | translate }}</h1>
      </div>

      <div>
        <p class="HomeParagraph">
          {{
            "We bridge the critical gap between learning and doing. We understand that knowledge alone is not power, the true power lies in its effective practical execution."
              | translate
          }}
        </p>
      </div>

      <div
        class="d-flex align-items-center justify-content-center justify-content-lg-start gap-3"
      >
        <app-site-button
          [title]="'Start your Journey' | translate"
          [icon]="isRTL() ? 'bi bi-arrow-left' : 'bi bi-arrow-right'"
          type="main"
          (onClick)="onStartJourney()"
        />

        <app-site-button
          [title]="'For Corporate' | translate"
          [icon]="isRTL() ? 'bi bi-arrow-left' : 'bi bi-arrow-right'"
          type="secondary"
          (onClick)="onCorporateClick()"
        />
      </div>

      <app-social-links />
    </div>

    <video
      media
      [src]="homeVideo"
      autoplay
      loop
      [muted]="true"
      playsinline
      class="Homebanner-video shadow h-100"
    ></video>
  </app-page-banner>

  <div class="training d-flex flex-column gap-4 py-5" #homeCertificationCards>
    <div class="d-flex flex-column align-items-center gap-2">
      <div class="text-center">
        <span class="sectionSubHeader">
          {{ "Excellence in Training" | translate }}
        </span>
      </div>

      <h2 class="mainTextColor">{{ "Empower your Expertise" | translate }}</h2>

      <p class="text-center">
        {{
          "Move beyond theory. Our world-class certifications provide the actionable framework to turn knowledge into tangible results and recognized authority."
            | translate
        }}
      </p>
    </div>
    <!-- <app-certification-cards (enrollCourse)="onEnrollToCourse($event)" /> -->
    <app-certification-cards />
  </div>

  <div class="training d-flex flex-column gap-4 py-5" #homeServiceCards>
    <div class="d-flex flex-column align-items-center gap-2">
      <div class="text-center">
        <span class="sectionSubHeader expirteSubTitle">
          {{ "OUR EXPERTISE" | translate }}
        </span>
      </div>

      <h2 class="darkText mt-2">
        {{
          "Delivering tailored solutions\n
that meet client's expectations" | translate
        }}
      </h2>
    </div>
    <app-home-services/>
  </div>

  <div
    className="training d-flex flex-column  justify-content-center align-items-center gap-4  py-5"
  >
    <div
      className="d-flex flex-column align-items-center justify-content-center gap-2"
    >
      <div class="text-center">
        <span className="sectionSubHeader">{{
          "THOUGHT LEADERSHIP" | translate
        }}</span>
      </div>

      <h2 class="mainTextColor mt-2">{{ "Latest Insights" | translate }}</h2>

      <p class="text-center mx-auto">
        {{
          "Strategies, trends, and perspectives from our industry experts."
            | translate
        }}
      </p>
    </div>
    <app-home-articles />
  </div>

  <div class="pt-5">
    <app-home-faq />
  </div>
</div>

<!-- <app-generic-modal [(isOpen)]="showEnrollForm" title="Enroll form">
    <section
      class="w-100 d-flex flex-column align-items-stretch gap-3 p-3 rounded"
    >
    <app-enroll-form [home]="true" (submitted)="onEnrollSubmittion($event)"/>

    </section>
  </app-generic-modal> -->
