@if (section()?.isEnabled !== false) {
<div class="w-100">
  <app-accordion [title]="sectionTitle()">
    @if (sectionDescription()) { <p class="mb-3">{{ sectionDescription() }}</p> }
    <div class="audience-container d-flex gap-1 flex-wrap justify-content-center">
      @for (audience of displayAudiences(); track $index) {
        <span class="audience">
          {{ audience | translate }}
        </span>
      } @empty {
        <div class="text-muted text-center py-3">
          No target audience specified
        </div>
      }
    </div>
  </app-accordion>
</div>
}
