<div class="main-container" cdkDropListGroup>

  <div class="left-descriptions">
    @for (question of questions(); track question) {
      <div class="desc">
        {{ question }}
      </div>
    }
  </div>

  <div class="pyramid">

    <div cdkDropList
         class="level level1"
         [cdkDropListData]="level1"
         (cdkDropListDropped)="drop($event)">
      @for (item of level1; track item) {
        <div class="green-box" cdkDrag>{{ item }}</div>
      }
    </div>

    <div cdkDropList
         class="level level2"
         [cdkDropListData]="level2"
         (cdkDropListDropped)="drop($event)">
      @for (item of level2; track item) {
        <div class="green-box" cdkDrag>{{ item }}</div>
      }
    </div>

    <div cdkDropList
         class="level level3"
         [cdkDropListData]="level3"
         (cdkDropListDropped)="drop($event)">
      @for (item of level3; track item) {
        <div class="green-box" cdkDrag>{{ item }}</div>
      }
    </div>

    <div cdkDropList
         class="level level4"
         [cdkDropListData]="level4"
         (cdkDropListDropped)="drop($event)">
      @for (item of level4; track item) {
        <div class="green-box" cdkDrag>{{ item }}</div>
      }
    </div>

  </div>

  <!-- SOURCE MUST BE INSIDE SAME GROUP -->
  <div class="optionsBorder px-5  rounded rounded-3">
    <div cdkDropList
         class="source"
         [cdkDropListData]="sourceOptions"
         (cdkDropListDropped)="drop($event)">

      @for (option of sourceOptions; track option) {
        <div class="green-box" cdkDrag>{{ option }}</div>
      } @empty {
      <div class="text-muted text-center d-flex gap-1 align-items-center justify-content-center">
            <i class="bi bi-info-circle-fill"></i>
                <span>No More Options</span>
        </div>
      }

    </div>
  </div>

</div>
