<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <section
        class="form w-100 d-flex flex-column align-items-stretch gap-3 my-4 p-5 rounded"
      >
        <div class="d-flex flex-column gap-2 w-100">
          <h3 class="m-0">{{ "register.started" | translate }}</h3>
          <p>{{ "register.joinMessage" | translate }}</p>
        </div>

        <form
          #registerForm="ngForm"
          (ngSubmit)="onRegister()"
          class="register-form mb-0"
        >
          <div class="d-flex flex-column gap-3">
            <div class="row">
              <div class="col-12 col-lg-6">
                <app-input
                  name="firstName"
                  [(ngModel)]="credentials.firstName"
                  required
                  [label]="'register.firstNameLabel' | translate"
                  [placeholder]="'register.firstNamePlaceholder' | translate"
                  [icon]="'bi bi-person'"
                  [errorMessages]="{
                    required: 'First Name is required' | translate,
                  }"
                ></app-input>
              </div>
              <div class="col-12 col-lg-6">
                <app-input
                  name="lastName"
                  [(ngModel)]="credentials.lastName"
                  required
                  [label]="'register.lastNameLabel' | translate"
                  [placeholder]="'register.lastNamePlaceholder' | translate"
                  [icon]="'bi bi-person'"
                  [errorMessages]="{
                    required: 'Last Name is required' | translate,
                  }"
                ></app-input>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-6">
                <app-input
                  name="firstNameAr"
                  [(ngModel)]="credentials.firstNameAr"
                  required
                  [label]="'register.firstNameArLabel' | translate"
                  [placeholder]="'register.firstNameArPlaceholder' | translate"
                  [icon]="'bi bi-person'"
                  [errorMessages]="{
                    required: 'Arabic First Name is required' | translate,
                  }"
                ></app-input>
              </div>
              <div class="col-12 col-lg-6">
                <app-input
                  name="lastNameAr"
                  [(ngModel)]="credentials.lastNameAr"
                  required
                  [label]="'register.lastNameArLabel' | translate"
                  [placeholder]="'register.lastNameArPlaceholder' | translate"
                  [icon]="'bi bi-person'"
                  [errorMessages]="{
                    required: 'Arabic Last Name is required' | translate,
                  }"
                ></app-input>
              </div>
            </div>
            <app-input
              name="username"
              [(ngModel)]="credentials.username"
              required
              [label]="'register.usernameLabel' | translate"
              [placeholder]="'register.usernamePlaceholder' | translate"
              [icon]="'bi bi-person'"
              [errorMessages]="{
                required: 'User Name is required' | translate,
              }"
            ></app-input>
            <app-input
              name="email"
              [(ngModel)]="credentials.email"
              required
              email
              [label]="'log.emailLabel' | translate"
              [placeholder]="'log.emailPlaceholder' | translate"
              [icon]="'bi bi-envelope'"
              [errorMessages]="{
                required: 'Email is required' | translate,
                email: 'Invalid email format' | translate,
              }"
            ></app-input>

            <app-phone-input
              name="phone"
              [(ngModel)]="credentials.mobile"
              [required]="true"
              [labelKey]="'register.phoneLabel' | translate"
            >
            </app-phone-input>

            <app-input
              name="password"
              [(ngModel)]="credentials.password"
              required
              minlength="6"
              [label]="'log.passwordLabel' | translate"
              [placeholder]="'log.passwordPlaceholder' | translate"
              [icon]="'bi bi-lock'"
              [type]="'password'"
              [errorMessages]="{
                required: 'Password is required' | translate,
                minlength: 'At least 6 characters' | translate,
              }"
            ></app-input>
            <app-input
              name="confirmPassword"
              [(ngModel)]="credentials.confirmPassword"
              required
              minlength="6"
              [label]="'log.confirmPasswordLabel' | translate"
              [placeholder]="'log.confirmPasswordPlaceholder' | translate"
              [icon]="'bi bi-lock'"
              [type]="'password'"
              [errorMessages]="{
                required: 'Password is required' | translate,
                minlength: 'At least 6 characters' | translate,
              }"
            ></app-input>
            <!-- <label class="form-check">
              <input
                name="terms"
                [(ngModel)]="credentials.terms"
                type="checkbox"
                class="form-check-input"
              />
              <span class="form-check-label"
                >I agree to the Terms & Conditions and Privacy Policy</span
              >
            </label> -->

            <app-site-button
              title="register.registerButton"
              type="main"
              htmlType="submit"
              [icon]="isRTL() ? 'bi bi-arrow-left' : 'bi bi-arrow-right'"
              [isRTL]="isRTL()"
            ></app-site-button>
          </div>
        </form>

        <p class="d-flex align-items-center justify-content-center">
          <span class="pe-1">{{ "register.loginMessage" | translate }}</span>
          <span
            [routerLink]="`/${lang()}/auth/login`"
            class="mainTextColor fw-bold text-decoration-underline w-100"
            >{{ "Login" | translate }}</span
          >
        </p>
      </section>
    </div>
  </div>
</div>
