<button
      type="{{ htmlType() }}"
      class="btn d-flex align-items-center justify-content-center w-100"
      [ngClass]="{
        'btn-primary':   type() === 'main',
        'btn-outline-primary': type() === 'secondary'
      }"
      [style]="{
        'direction': isRTL() ? 'rtl' : 'ltr',
        'display': 'flex',
        'align-items': 'center',
        'gap': '0.5rem'
      }"
      (click)="onClick.emit()"
    >
      <span>{{ title() | translate }}</span>
      @if (icon()) {
        <i [class]="icon()"></i>
      }
    </button>
