<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <section
        class="form w-100 d-flex flex-column align-items-stretch gap-3 my-4 p-5 rounded"
      >
        <div class="d-flex flex-column gap-2 w-100">
          <h3 class="m-0">{{ "forgetPassword.title" | translate }}</h3>
          <p>{{ "forgetPassword.description" | translate }}</p>
        </div>

   

        <form
          #loginForm="ngForm"
          (ngSubmit)="onSubmit(loginForm)"
          class="login-form mb-0"
        >
          <div class="d-flex flex-column gap-3">
            <app-input
              name="email"
              [(ngModel)]="credentials.email"
              required
              email
              [label]="'log.emailLabel' | translate"
              [placeholder]="'log.emailPlaceholder' | translate"
              [icon]="'bi bi-envelope'"
              [errorMessages]="{
                required: 'Email is required' | translate,
                email: 'Invalid email format' | translate,
              }"
            ></app-input>
            <label class="text-center">
              @if (!canResend) {
                <span class="text-muted">
                  {{
                    "forgetPassword.resendIn"
                      | translate: { seconds: countdown }
                  }}
                </span>
              } @else {
                <span
                  class="mainTextColor fw-bold cursor-pointer text-decoration-underline"
                  (click)="onSubmit(loginForm)"
                >
                  {{ "forgetPassword.resend" | translate }}
                </span>
              }
            </label>

            <app-site-button
              [title]="'forgetPassword.sendEmail' | translate"
              type="main"
              [disabled]="!canResend && countdown < 60"
              htmlType="submit"
              [icon]="'bi bi-arrow'"
            ></app-site-button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
