<!-- src\app\components\ClientSide\certifications\live-course\live-course.component.html -->
<div class="certification d-flex gap-5 flex-column py-5">
  <!-- Banner - shown only if not purchased -->
  <ng-container *ngIf="!hasLiveCourseAccess()">
    <app-page-banner [isRTL]="isRTL()" [media]="true" class="recorded">
      <!-- Content projection -->
      <div content class="d-flex flex-column gap-3 pe-xl-5">
        <div class="d-flex flex-column gap-3">
          <h3 class="CertificationHeader">
            <span class="darkText">
              {{ liveCourseContent().master | translate }}
            </span>
            <span class="mainTextColor">
              {{ liveCourseContent().title | translate }}
            </span>
          </h3>

          <p>
            {{ liveCourseContent().description | translate }}
          </p>

          <div class="d-flex justify-content-between rating">
            <div class="d-flex align-items-center enrollTag gap-1">
              <img [src]="enrollImage" alt="Enroll image" />
              <span>{{count()}}+ {{ "common.enrolled" | translate }}</span>
            </div>

            <div class="d-flex align-items-center gap-1">
              <app-star-rating [value]="4.9"></app-star-rating>
              <span class="certifictionRate">(4.9)</span>
            </div>
          </div>

          <div class="certificationPrice">
            <span class="darkText">
              {{ liveCourseContent().price | translate }}
            </span>
          </div>
          <div class="d-flex align-content-center gap-3">
            <app-site-button
              title="examSimulator.buyNow"
              [icon]="'bi bi-arrow'"
              type="main"
              (click)="buyNow()"
            ></app-site-button>

            <app-site-button
              title="examSimulator.addToCart"
              [icon]="'bi bi-arrow'"
              type="secondary"
              (click)="addToCart()"
            ></app-site-button>
          </div>
        </div>
      </div>

      <img
        media
        [src]="courseImage"
        alt="contact Image"
        class="Homebanner-video shadow w-100 h-100"
      />
    </app-page-banner>
  </ng-container>
  <!-- <ng-container *ngIf="isEnrolled()"> </ng-container> -->

  <div class="container-fluid">
    <div class="row">
      <div [ngClass]="hasLiveCourseAccess() ? 'col-lg-12' : 'col-lg-9'">
        <div class="row">
          <div class="col-12">
            <app-upcoming-sessions (liveCourseRegister)="register($event)"/>
          </div>
          @if (!hasLiveCourseAccess()) {
            <div class="col-12">
              <app-courese-outline />
            </div>
            <div class="col-12">
              <app-courese-content  [videos]="videos()"/>
            </div>

            <div class="col-12">
              <app-instructor-info />
            </div>
          }
        </div>
      </div>
      @if (!hasLiveCourseAccess()) {
        <div class="col-lg-3">
          <div class="row">
            <div class="col-12">
              <app-courese-features [isEnrolled]="isEnrolled()" />
            </div>
          </div>
          <div class="col-12">
            <app-target-audience />
          </div>
        </div>
      }
    </div>
  </div>
</div>

<app-generic-modal [(isOpen)]="showConfirm" title="Alert Message">
  <section
    class="w-100 d-flex flex-column align-items-stretch gap-3 p-3 rounded"
  >
    <div
      class="d-flex flex-column align-items-center justify-content-center gap-2 w-100"
    >
      <i class="bi bi-info-circle-fill infoColor"></i>
      <p class="text-center darkText w-75 mx-auto">
        {{ "You Must be logged to be able to contact us." | translate }}
      </p>
    </div>
  </section>
</app-generic-modal>

<app-generic-modal [(isOpen)]="showRegisterConfirm" title="">
  <section
    class="form w-100 d-flex flex-column align-items-stretch gap-3 p-3 rounded"
  >
    <div class="d-flex flex-column gap-2 w-100">
      <h3 class="m-0 text-center">{{ "liveCourseForm.title" | translate }}</h3>
      <p class="text-center w-100">{{ "liveCourseForm.subTitle" | translate }}</p>
    </div>

    <form
      #liveCourseRegisterForm="ngForm"
      (ngSubmit)="onLiveCourseRegister(liveCourseRegisterForm)"
      class="webinar-form mb-0"
    >
      <div class="d-flex flex-column gap-3">

        <!-- Full Name -->
        <app-input
          name="fullname"
          [(ngModel)]="liveCourse.fullname"
          required
          [label]="'liveCourse.fullnameLabel' | translate"
          [placeholder]="'liveCourse.fullnamePlaceholder' | translate"
          [icon]="'bi bi-user'"
          [errorMessages]="{
            required: 'liveCourse.errors.fullnameRequired' | translate
          }"
        ></app-input>

        <!-- Email -->
        <app-input
          name="email"
          [(ngModel)]="liveCourse.email"
          required
          email
          [label]="'liveCourse.emailLabel' | translate"
          [placeholder]="'liveCourse.emailPlaceholder' | translate"
          [icon]="'bi bi-envelope'"
          [errorMessages]="{
            required: 'liveCourse.errors.emailRequired' | translate,
            email: 'liveCourse.errors.invalidEmail' | translate
          }"
        ></app-input>

        <!-- Phone -->
        <app-phone-input
          name="phone"
          [(ngModel)]="liveCourse.phone"
          [required]="true"
          [labelKey]="'liveCourse.phoneLabel' | translate"
        >
        </app-phone-input>

        <!-- Position -->
        <app-input
          name="position"
          [(ngModel)]="liveCourse.position"
          required
          [label]="'liveCourse.positionLabel' | translate"
          [placeholder]="'liveCourse.positionPlaceholder' | translate"
          [icon]="'bi bi-person-workspace'"
          [type]="'text'"
          [errorMessages]="{
            required: 'liveCourse.errors.positionRequired' | translate
          }"
        ></app-input>

        <!-- Submit -->
        <app-site-button
          [title]="'liveCourse.submitButton' | translate"
          type="main"
          htmlType="submit"
          [icon]="'bi bi-arrow'"
        ></app-site-button>

      </div>
    </form>
  </section>
</app-generic-modal>
