/* src\app\components\AdminPanel\certification\certification.component.scss */
@use "variables" as *;

.iconCircle {
  background-color: $primaryColor;
  color: $lightBgTextColor;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.examName {
  color: $primaryColor;
  font-size: 1rem;
}

.line {
  width: 1px;
  height: 50px;
  background-color: $borderColor;
}

.examDetails {
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
}

