<div class="contaiiner-fluid">
    <div class=" pt-4 row g-3">

      @for (article of articlesData(); track $index) {
          <div class="col-12 col-md-6 col-lg-4">
          <app-article-card
            [imgSrc]="article.imgSrc"
            [imgAlt]="article.imgAlt"
            [date]="article.date"
            [publishTime]="article.publishTime"
            [title]="article.title"
            [description]="article.description"
            (onClick)="onArticleClick(article, $index)"
          />
        </div>
      } @empty {
        <div class="text-center py-5 text-muted fs-5">
          {{ 'No articles available at the moment' | translate }}
        </div>
      }
    </div>
</div>
