@use 'variables' as *;

.articles-cards{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: center;
    gap:2rem;
}


@media screen and (min-width:992px) {
   .articles-cards{
    flex-direction: row;
}
}




.arrow-left {
  left: -50px;
}

.arrow-right {
  right: -50px;
}

