<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="d-flex flex-column gap-4 p-3"
>
  <div class="row flex-wrap gy-2">
    <div class="col-lg-4">
      <app-input
        formControlName="webinarName"
        label="Webinar Name"
        type="text"
        placeholder=""
        icon=""
        [errorMessages]="{
          required: 'Name is required',
        }"
      />
    </div>
       <div class="col-lg-4">
         <spk-ng-select
        formControlName="webinarFormat"
        label="webinar Format"
        [options]="$any((webinarFormats$ | async) ?? [])"
        [bindLabel]="getFormatLabel()"
        bindValue="oid"
        [multiple]="false"
        placeholder="Choose Webinar Format"
        selectClass="form-control"
      />
    </div>
          <div class="col-lg-4">
         <spk-ng-select
        formControlName="timeZone"
        label="Time Zone"
        [options]="$any((timeZone$ | async) ?? [])"
        [bindLabel]="getFormatLabel()"
        bindValue="oid"
        [multiple]="false"
        placeholder="Choose Time Zone"
        selectClass="form-control"
      />
    </div>
         <div class="col-lg-4">
      <app-input
        formControlName="webinarDate"
        label="Webinar Date"
        type="date"
        placeholder=""
        icon=""
        [errorMessages]="{
          required: 'Date is required',
        }"
      />
    </div>
            <div class="col-lg-4">
      <app-input
        formControlName="webinarStartTime"
        label="Webinar Start Time"
        type="text"
        placeholder=""
        icon=""
        [errorMessages]="{
          required: 'Start Time is required',
        }"
      />
    </div>
        <div class="col-lg-4">
      <app-input
        formControlName="webinarEndTime"
        label="Webinar End Time"
        type="text"
        placeholder=""
        icon=""
        [errorMessages]="{
          required: 'End Time is required',
        }"
      />
    </div>
      <div class="col-lg-4">
      <app-input
        formControlName="whatsAppLink"
        label="Whatsapp Link"
        type="text"
        placeholder=""
        icon=""
        [errorMessages]="{
          required: 'Whatsapp Link is required',
        }"
      />
    </div>
    <div class="col-lg-4">
      <spk-ng-select
        formControlName="isActive"
        label="Status"
        [options]="status"
        bindLabel="label"
        bindValue="value"
        [multiple]="false"
        placeholder="Choose Status"
        selectClass="form-control"
      />
    </div>
    <div class="col-12">
      <app-textarea
        formControlName="notes"
        [label]="'enroll.notesLabel' | translate"
        [placeholder]="'enroll.notesLabel' | translate"
        [errorMessages]="{
          required: 'Notes is required' | translate,
        }"
      ></app-textarea>
    </div>
  </div>
  <div class="d-flex justify-content-end gap-2">
    <app-site-button title="Cancal" type="secondary" (click)="cancel()" />
    <app-site-button
      title="Save"
      type="main"
      htmlType="submit"
    ></app-site-button>
  </div>
</form>
