<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>{{ "performance.level" | translate }}</th>
        <th class="header">{{ "performance.core" | translate }}</th>
        <th class="header">{{ "performance.plan" | translate }}</th>
        <th class="header">{{ "performance.agile" | translate }}</th>
        <th class="header">{{ "performance.business" | translate }}</th>
      </tr>
    </thead>

    <tbody>
      <!-- Above Target -->
      <tr>
        <td class="aboveTarget">{{ "performance.aboveTarget" | translate }}</td>
        <td>{{ "performance.rows.above.core" | translate }}</td>
        <td>{{ "performance.rows.above.plan" | translate }}</td>
        <td>{{ "performance.rows.above.agile" | translate }}</td>
        <td>{{ "performance.rows.above.capmbusiness" | translate }}</td>
      </tr>

      <!-- Target -->
      <tr>
        <td class="target">{{ "performance.target" | translate }}</td>
        <td>{{ "performance.rows.target.core" | translate }}</td>
        <td>{{ "performance.rows.target.plan" | translate }}</td>
        <td>{{ "performance.rows.target.agile" | translate }}</td>
        <td>{{ "performance.rows.target.capmbusiness" | translate }}</td>
      </tr>

      <!-- Below Target -->
      <tr>
        <td class="belowTarget">{{ "performance.belowTarget" | translate }}</td>
        <td>{{ "performance.rows.below.core" | translate }}</td>
        <td>{{ "performance.rows.below.plan" | translate }}</td>
        <td>{{ "performance.rows.below.agile" | translate }}</td>
        <td>{{ "performance.rows.below.capmbusiness" | translate }}</td>
      </tr>

      <!-- Needs Improvement -->
      <tr>
        <td class="improvement">
          {{ "performance.needsImprovement" | translate }}
        </td>
        <td>{{ "performance.rows.improvement.core" | translate }}</td>
        <td>{{ "performance.rows.improvement.plan" | translate }}</td>
        <td>{{ "performance.rows.improvement.agile" | translate }}</td>
        <td>{{ "performance.rows.improvement.capmbusiness" | translate }}</td>
      </tr>
    </tbody>
  </table>
</div>
