/* src\assets\styles\dark-theme.scss */
:root .dark-theme,
:root[data-theme="dark"] {
  --secondary-color: #ad1457;
    --successColor:rgb(82, 177, 82);
--accordionBg:#2a2a2a;
  --primary-color: #ec407a;
  --dropdownNacColor: #fff;
  --placeHolderColor: #999999;
  --bgBody: #1e1e1e;
  --FeatureTagBg: #444;
  --FeatureTagIcon: #fea903;
  --socialLinkBg: #2a2a2a;
  --socialLinkText: #fff;
  --headerColor: #fff;
  --btnDarkbg: #fff;
  --btnDarkText: #1e1e1e;
  --paraTextColor:#cdc5c5;
 --faqBg:#2a2a2a;
  --bgNav: #1e1e1e;
  --navTextColor: #d6c7c7;
  --inputFieldBgColor: #2a2a2a;
  --inputFieldtextColor: #fff;
  --light-bg-text-color: #f5f5f5;
  --light-text-color: #f5f5f5;
  --btnTextColor: #f9fafb;
  --btnBgColor: #0d6e4d;
  --iconColor: #e0e0e0;
  --iconCircleTextColor: #0d6e4d;
  --siteNavColor: #0f5132;
  --textColor: #f5f5f5;
  --borderColor: #333333;
  // --iconColorLight: #b3b3b3;
  // --sidebarBgColor: #092a1e;
  --primary-color: #ad1457;
}
