/* src\assets\styles\styles.scss */
/* src\assets\styles\variables.scss */
/* src\assets\styles\light-theme.scss */
:root .light-theme,
:root[data-theme=light] {
  --primary-color: #AD1457;
  --successColor: green;
  --quizColor: #fff;
  --accordionBg: #F4F4F4;
  --secondary-color: #EC407A;
  --dropdownNacColor: #80939f;
  --bgNav: #fff;
  --inputFieldBgColor: #fff;
  --inputFieldtextColor: var(--icon-color);
  --navTextColor: #80939f;
  --border-color: rgb(217, 217, 217);
  --light-bg-text-color: #fff;
  --light-text-color: #233043;
  --label-color: #797979;
  --paragraph-color: #6D8493;
  --placeHolderColor: #797979;
  --bgBody: #F9FAFB;
  --FeatureTagBg: #fef3df;
  --FeatureTagIcon: #fea903;
  --socialLinkBg: #ecedef;
  --socialLinkText: #151d20;
  --headerColor: #151d20;
  --btnDarkbg: #1e1e1e;
  --btnDarkText: #fff;
  --paraTextColor: #80939f;
  --btnTextColor: #fff;
  --btnBgColor: #AD1457;
  --faqBg: #F9FAFB;
  --iconColor: #F7FDF9;
  --iconCircleTextColor: #AD1457;
  --sidebarBgColor: #AD1457;
  --siteNavColor: #AD1457;
  --textColor: #F7FDF9;
  --borderColor: #F7FDF9;
  --iconColorLight: #AD1457;
  --bgCard: #fff;
  --hoverColor: #fff;
  --textGray: #9C9C9C;
}

/* src\assets\styles\dark-theme.scss */
:root .dark-theme,
:root[data-theme=dark] {
  --secondary-color: #ad1457;
  --successColor: rgb(82, 177, 82);
  --accordionBg: #2a2a2a;
  --quizColor: #2a2a2a;
  --primary-color: #ec407a;
  --dropdownNacColor: #fff;
  --placeHolderColor: #999999;
  --bgBody: #1e1e1e;
  --FeatureTagBg: #444;
  --FeatureTagIcon: #fea903;
  --socialLinkBg: #2a2a2a;
  --socialLinkText: #fff;
  --headerColor: #fff;
  --btnDarkbg: #fff;
  --btnDarkText: #1e1e1e;
  --paraTextColor: #cdc5c5;
  --faqBg: #2a2a2a;
  --bgNav: #1e1e1e;
  --navTextColor: #d6c7c7;
  --inputFieldBgColor: #2a2a2a;
  --inputFieldtextColor: #fff;
  --light-bg-text-color: #f5f5f5;
  --light-text-color: #f5f5f5;
  --btnTextColor: #f9fafb;
  --btnBgColor: #0d6e4d;
  --iconColor: #e0e0e0;
  --iconCircleTextColor: #0d6e4d;
  --siteNavColor: #0f5132;
  --textColor: #f5f5f5;
  --borderColor: #333333;
  --primary-color: #ad1457;
}

html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--bgBody);
}

body * {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-feature-settings: "calt" 1, "liga" 1;
  unicode-bidi: isolate;
  text-rendering: optimizeLegibility;
  direction: inherit;
}

.optionsBorder {
  border: 1px dashed var(--border-color) !important;
}

.drop-shadow {
  box-shadow: 0px 2px 2px 0px rgba(208, 210, 210, 0.25);
}

.basic-style {
  background-color: var(--siteNavColor);
  color: var(--textColor);
}

.text-site {
  color: var(--textColor);
}

.bg-body {
  background-color: var(--bgBody);
}

h6 {
  color: var(--siteNavColor);
  margin-bottom: 0px;
}

html .toast-success {
  background-color: #30b25b !important;
}

html #toast-container.toast-top-right {
  z-index: 999999999 !important;
}

.bg-site {
  background-color: #C02C61;
}

.form-check-label,
label {
  color: var(--paraTextColor) !important;
}

.form h3 {
  color: var(--primary-color);
}

.form .input-group {
  border: 1px solid var(--border-color);
  background-color: var(--inputFieldBgColor) !important;
  color: var(--inputFieldtextColor) !important;
  border-radius: 8px;
}

.form .input-group .input-group-text {
  background-color: transparent !important;
  color: var(--placeHolderColor) !important;
}

.form .input-group .form-control {
  background-color: transparent !important;
  border: none;
  color: inherit !important;
}

.form .input-group .form-control::-moz-placeholder {
  color: var(--placeHolderColor);
}

.form .input-group .form-control::placeholder {
  color: var(--placeHolderColor);
}

.form .input-group:focus-within {
  border-color: var(--primary-color) !important;
}

.form .input-group:focus-within .bi {
  color: var(--primary-color) !important;
}

.form-control {
  border-radius: 8px;
  border: none;
  border: 1px solid var(--border-color);
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: var(--primary-color);
}

.ng-select .ng-select-container {
  border: 1px solid var(--border-color);
}

.input-group-text {
  background-color: var(--form-control-bg);
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

.validationError {
  color: var(--bs-form-invalid-color);
  font-size: 0.875em;
}

.validBorderError {
  border-color: var(--bs-form-invalid-color);
  border-radius: 8px;
}

.ng-select {
  padding: 0px;
  border: none;
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  border: 1px solid var(--primary-color);
  box-shadow: none;
}

.ng-input input:focus {
  border-color: var(--primary-color);
}

.validBorderError.ng-select .ng-select-container {
  border: 1px solid var(--bs-form-invalid-color);
}

label {
  font-weight: normal;
  color: var(--label-color);
  font-size: 0.8rem;
}

.form-check-input {
  box-shadow: none;
  outline: none;
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: none;
}

.accordion * {
  font-size: 0.8rem;
}

.accordion-button {
  outline: none !important;
  box-shadow: none !important;
  background-color: var(--primary-color);
  padding: 0.8rem;
  color: var(--light-bg-text-color);
  border-radius: 8px !important;
}

.accordion-button:not(.collapsed) {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--light-bg-text-color);
  box-shadow: none;
}

.accordion-button::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  background-size: 1rem;
  color: var(--light-bg-text-color);
}

.addAnswer * {
  color: var(--primary-color);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-header h5 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.2rem;
}

.card-body .filepond--root {
  box-sizing: border-box;
  background-color: var(--inputFieldBgColor);
  color: var(--inputFieldtextColor);
}

.card-body .filepond--root * {
  color: var(--inputFieldtextColor) !important;
}

.courseLink {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 500;
}

.darkText {
  color: var(--headerColor);
}

.mainTextColor {
  color: var(--primary-color);
}

html[dir=ltr],
html[dir=ltr] body {
  direction: ltr !important;
  text-align: left;
}

html[dir=ltr] .clientNavbar .top-bar .dropdown ul {
  right: 0px;
}

html[dir=rtl] .clientNavbar .top-bar .dropdown ul {
  left: 0px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 8px;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 8px;
  text-align: center;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 8px;
}

p {
  color: var(--paraTextColor);
  width: 80%;
  line-height: 150%;
  margin: 0px;
}

.courseName {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--headerColor);
}

.sectionSubHeader {
  font-style: italic;
  color: var(--headerColor);
}

.page-width {
  width: 90%;
  margin: 0 auto;
}

.contactCard {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--primary-color);
  color: var(--light-bg-text-color);
  border-radius: 8px;
}

.contactCard:hover {
  background-color: var(--secondary-color);
}

.contactCard i {
  font-size: 1.4rem;
}

.contactCard .key {
  font-size: 1rem;
  font-weight: 600;
}

.enrollForm .serviceTitle {
  color: var(--paragraph-color);
  width: 100%;
}

.ng-dropdown-panel,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  background-color: var(--inputFieldBgColor) !important;
  color: var(--inputFieldtextColor) !important;
}

.calendar .Homebanner {
  min-height: auto !important;
}

.calendar h6 {
  font-size: 1rem;
  color: var(--headerColor);
}

.calendarGrid {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.calendarCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--light-bg-text-color);
}

.calendarCard:hover {
  background-color: var(--secondary-color);
}

.calendar h5 {
  font-size: 1.2rem;
}

.examModeCard .btn.btn-primary:hover {
  background-color: var(--light-bg-text-color) !important;
  color: var(--secondary-color) !important;
}

.webinarRegister .btn.btn-primary {
  background-color: var(--light-bg-text-color) !important;
  color: var(--primary-color) !important;
}

.webinarRegister .btn.btn-primary:hover {
  color: var(--light-bg-text-color) !important;
}

.certificationPrice span {
  font-size: 2rem;
  font-weight: 600;
}

.certificationPrice {
  padding-top: 0.5rem;
}

.certifictionRate {
  font-size: 0.8rem;
  color: var(--paragraph-color);
}

.enrollTag img {
  height: 40px !important;
}

.enrollTag span {
  color: var(--paragraph-color);
  font-weight: 600;
}

.certification .rating {
  padding-inline-end: 2rem;
  flex-direction: column;
  gap: 0.5rem;
}

.text-muted {
  color: var(--paraTextColor) !important;
}

.CertificationHeader {
  font-size: 1.8rem;
  margin: 0px;
  line-height: 130%;
}

.aboveTarget {
  background-color: #2D571A;
  color: white;
}

.target {
  background-color: #00B342;
  color: white;
}

.belowTarget {
  background-color: #FFBD00;
  color: #000;
}

.improvement {
  background-color: #FF0000;
  color: #fff;
}

.custom-close {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  color: var(--primary-color) !important;
  cursor: pointer;
  transition: 0.2s ease;
}

.custom-close:hover {
  opacity: 0.7;
}

.modal-content {
  background-color: var(--bgNav);
}

.modal-header {
  border-color: var(--border-color);
}

.infoColor {
  color: var(--primary-color) !important;
  font-size: 2rem;
}

.group-appearance-standard,
.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  border-color: var(--primary-color) !important;
  background-color: var(--primary-color) !important;
  color: var(--light-bg-text-color) !important;
}

.group-appearance-standard *,
.mat-button-toggle-appearance-standard.mat-button-toggle-checked * {
  color: var(--light-bg-text-color) !important;
}

.mat-button-toggle-group-appearance-standard .mat-pseudo-checkbox {
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: $lightBgTextColor !important;
}

.modal-dialog {
  max-width: 95%;
}

.col-6 .col-md-6 {
  max-width: 50% !important;
}

.col-4 .col-md-4 {
  flex: 0 0 auto;
  width: 33.33333333% !important;
}

@media screen and (min-width: 992px) {
  .modal-dialog {
    max-width: 65%;
  }
}

@media screen and (min-width: 1200px) {
  .modal-dialog {
    max-width: 55%;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .certification .rating {
    flex-direction: row;
    gap: 1rem;
  }

  .certification .enrollTag,
  .certification .enrollTag img {
    order: 1;
  }
}

@media screen and (min-width: 1400px) {
  .page-width {
    width: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */