/* src\assets\styles\styles.scss */
@use 'variables' as *;
@use './light-theme';
@use './dark-theme';

html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: $bgBody;
}

body * {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-feature-settings: 'calt' 1, 'liga' 1;
  unicode-bidi: isolate;
  text-rendering: optimizeLegibility;
  direction: inherit;
}

.drop-shadow {
  box-shadow: 0px 2px 2px 0px rgba(208, 210, 210, 0.25);
}

.basic-style {
  background-color: $siteNavColor;
  color: $textColor;
}

.text-site {
  color: $textColor;
}

.bg-body {
  background-color: $bgBody;
}

h6 {
  color: $siteNavColor;
  margin-bottom: 0px;
}

html .toast-success {
  background-color: #00857d !important;
}

html #toast-container.toast-top-right {
  z-index: 999999999 !important;
}

.p-datatable-filter-overlay * {
  font-size: $fs-xs !important;
  overflow: visible !important;

  .p-button {
    flex-grow: 1;
  }

  .p-button-label {
    padding: 1rem;
  }
}


.form-control {
  border-radius: 8px;
  border: none;
  border: 1px solid $borderColor;
  outline: none !important;
  box-shadow: none !important;

  &:focus {
    border-color: $primaryColor;
  }
}

.ng-select .ng-select-container {
  border: 1px solid $borderColor;
}

.input-group-text {
  background-color: var(--form-control-bg);
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

.input-group-text i {
  color: var(--bs-placeholder-color) !important;
}

.validationError {
  color: var(--bs-form-invalid-color);
  font-size: 0.875em;
}

.validBorderError {
  border-color: var(--bs-form-invalid-color);
  border-radius: 8px;
}

.ng-select {
  padding: 0px;
  border: none;
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  border: 1px solid $primaryColor;
  box-shadow: none;
}

.ng-input input:focus {
  border-color: $primaryColor;
}

.validBorderError.ng-select .ng-select-container {
  border: 1px solid var(--bs-form-invalid-color);
}


label {
  font-weight: normal;
  color: $labelColor;
  font-size: $fs-sm;
}

.form-check-input:checked {
 background-color: $primaryColor;
  border-color: $primaryColor;
  box-shadow: none;
}
.accordion *{
  font-size: $fs-sm;
}
.accordion-button{
   outline: none !important;
  box-shadow: none !important;
    background-color: $primaryColor;
    padding:.8rem;
    color:$lightBgTextColor;
    border-radius: 8px !important;
}
.accordion-button:not(.collapsed) {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-radius: 8px;
  background-color: $primaryColor;
  color:$lightBgTextColor;
  box-shadow: none;
}


.accordion-button::after {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  background-size: 1rem;
   color:$lightBgTextColor;
}

.addAnswer * {
  color: $primaryColor;
}
