<!-- <div *ngIf="apiStatus.isServerDown()" class="server-error">
  ⚠ {{ 'network.serverDown' | translate }}
</div> -->

<div class="not-found-container">
  <div class="content">
    <h1>{{ "network.errorCode" | translate }}</h1>
    <h2>{{ "network.title" | translate }}</h2>

    <p>
      {{ "network.description" | translate }}
    </p>

    <div class="actions">
      <button (click)="retry()" class="btn btn-primary">
        {{ "network.retry" | translate }}
      </button>

      <!-- <button [routerLink]="`/${lang()}/home`" class="btn btn-outline">
        {{ "network.backHome" | translate }}
      </button> -->
    </div>
  </div>
</div>
