<div class="exam-report-card shadow">
  <div class="header">
    <h5 class="fw-bold darkText mb-0">  {{ 'examReport' | translate:{ num: report().title } }}
</h5>

    <div class="status">
      @if (report().isPassed) {
        <span class="chip pass">
          <i class="bi bi-check-lg"></i>
          {{'Pass' | translate}}
        </span>
      } @else {
        <span class="chip fail">
          <i class="bi bi-x-circle"></i>
          {{'Fail' | translate}}
        </span>
      }

      <span class="chip level" [ngClass]="level()">
  <i class="bi" [ngClass]="levelIcon()"></i>
        {{levelLabel() | translate }}
      </span>
    </div>
  </div>

  <hr />

  <div class="stats">
    <div class="stat">
      <i class="bi bi-calendar"></i>
      {{ report().date | date:'mediumDate'}}
    </div>

    <div class="divider"></div>

    <div class="stat">
      <i class="bi bi-clock"></i>
      {{'Duration:' | translate}} {{ report().duration }} {{'min'|translate}}
    </div>

    <div class="divider"></div>

    <div class="stat">
      <i class="bi bi-check-circle"></i>
      {{'Correct:' | translate}} {{ report().correct }}
    </div>

    <div class="divider"></div>

    <div class="stat">
      <i class="bi bi-x-circle"></i>
      {{'Incorrect:' | translate}} {{ report().incorrect }}
    </div>

    <div class="divider"></div>

    <div class="stat">
      <i class="bi bi-exclamation-triangle"></i>
      {{'Not Answered :' | translate}} {{ report().notAnswered }}
    </div>
  </div>

  <div class="footer">
    <!-- <button class="btn lessons-btn">
      View Lesson learned Question
    </button> -->

    <app-site-button
      title="Check Performance Levels Indicators"
      type="main"
      (click)="performanceIndicators()"
    />
  </div>
</div>
