<!-- src\app\components\ClientSide\home\home-faq\home-faq.component.html -->
<div class="faqHomeSection gap-5 py-5" [class.rtl]="shared.isRtl()">
  <div class="row g-5">
    <div class="col-xl-4 col-md-6">
      <div class="d-flex flex-column gap-3">
        <div>
          <app-feature title="Support" icon="bi bi-headset" />
        </div>

        <div class="darkText">
          <h1 class="faqTitle">
            {{ "Frequently Asked Question" | translate }}
          </h1>
        </div>

        <div>
          <p class="py-lg-2">
            {{
              "Find clarity on our training methodologies, service delivery, and engagement models."
                | translate
            }}
          </p>
        </div>

        <div class="d-flex align-items-center gap-3">
          <app-site-button
            class="w-100"
            title="Contact Support"
                          [icon]="'bi bi-arrow'"

            type="main"
            (onClick)="onContactSupport()"
          />
        </div>
      </div>
    </div>
      <div class="col-md-6 col-xl-7 offset-xl-1">
    <div class="flex-grow-1 w-100">
      <app-faq-item [questions]="displayedQuestions()" />
    </div>
  </div>

  </div>
</div>
